technical/GEL Schema/Rare Disease Models - v1.3.3/Rare Disease 1.3.3 - Schemas/PhenotypingRD-v1.5.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema' xmlns:vc='http://www.w3.org/2007/XMLSchema-versioning' xmlns:gelRD='https://genomicsengland.co.uk/xsd/raredisease/1.3.1' xmlns='https://genomicsengland.co.uk/xsd/raredisease/1.3.1' targetNamespace='https://genomicsengland.co.uk/xsd/raredisease/1.3.1' vc:minVersion='1.1'>
  <xs:annotation>
    <xs:documentation>
      <h1>Phenotyping RD</h1>
      <p>Version:1.5.0</p>
      <p>Description:Version of phenotyping XSD</p>
      <p>Generated: 2015-12-02T15:27:58.252+0000</p>
    </xs:documentation>
  </xs:annotation>
  <xs:element name='phenotyping'>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='metadata' type='metadata' minOccurs='1' maxOccurs='1' />
        <xs:element name='subject' type='subject-15034.4' minOccurs='0' maxOccurs='unbounded' />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name='metadata'>
    <xs:sequence>
      <xs:element name='schema-name' minOccurs='1' maxOccurs='1'>
        <xs:simpleType>
          <xs:restriction base='xs:string'>
            <xs:enumeration value='Phenotyping RD' />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name='schema-version' minOccurs='1' maxOccurs='1'>
        <xs:simpleType>
          <xs:restriction base='xs:string'>
            <xs:enumeration value='1.5.1' />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name='date' type='xs:date' minOccurs='1' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            <p>The date that this file was generated</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='source-organisation' type='xs:string' minOccurs='1' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            <p>ODS code of the source organisation within the GMC sending the message</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='source-system' type='xs:string' minOccurs='0' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            <p>Source system. Optional but may be used to supply source with information if there are any issues with the submitted XML.</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='localReportId' type='xs:string' minOccurs='0' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            <p>Source system report Id. Optional but may be used to supply source with information if there are any issues with the submitted XML.</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name='subject-15034.4'>
    <xs:sequence>
      <xs:element name='participant-identifiers' type='participant-identifiers-29049.2' minOccurs='1' maxOccurs='1' />
      <xs:element name='phenotyping' type='phenotyping-15035.4' minOccurs='1' maxOccurs='unbounded' />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name='participant-identifiers-29049.2'>
    <xs:sequence>
      <xs:element name='participant-id' minOccurs='1' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            <p>Participant Identifier (supplied by Genomics England)</p>
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base='xs:string'>
            <xs:minLength value='1' />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name='date-of-birth' type='xs:date' minOccurs='1' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            <p>The participant&amp;apos;s date of birth</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='nhs-number' type='nhsnumber-12817.1' minOccurs='1' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            <p>Validated NHS number for participant</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='chi-number' type='xs:string' minOccurs='0' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            <p>Scottish Community Health Index (CHI) number for participant</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='hospital-number' type='xs:string' minOccurs='0' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            <p>Hospital number of the participant</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='surname' minOccurs='1' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            <p>The participant&amp;apos;s surname</p>
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base='xs:string'>
            <xs:minLength value='1' />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name='forenames' minOccurs='1' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            <p>The participant&amp;apos;s forenames</p>
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base='xs:string'>
            <xs:minLength value='1' />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name='phenotyping-15035.4'>
    <xs:sequence>
      <xs:element name='event-date' type='xs:dateTime' minOccurs='1' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            <p>Date of the clinical event or observation being reported e.g. date biopsy was taken</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='event-reference' type='xs:string' minOccurs='0' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            <p>Unique identifier for local record of clinical event or observation</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='full-name-of-responsible-consultant' type='xs:string' minOccurs='0' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            <p>Full name of consultant with responsibility for the patient&amp;apos;s clinical care</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='hospital-of-responsible-consultant' type='xs:string' minOccurs='0' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            <p>ODS code of the hospital to which the consultant is contracted under their MAIN SPECIALTY for the purposes of the current work.</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='full-name-not-consultant' type='xs:string' minOccurs='0' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            <p>Full name of person entering data on behalf of consultant</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='clinical-assessment-letter' type='xs:string' minOccurs='0' maxOccurs='unbounded'>
        <xs:annotation>
          <xs:documentation>
            <p>File name of uploaded copy of the most informative letter(s) or assessment relating to the patients phenotype - requested format [ParticipantId]_assessment_[TimeStamp]</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='statement' type='statement-15036.2' minOccurs='0' maxOccurs='unbounded' />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name='statement-15036.2'>
    <xs:sequence>
      <xs:element name='phenotype-progression-modifier' type='progression-11154.1' minOccurs='0' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            <p>The progression of the phenotype, can be progressive or non-progressive</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='phenotype-identifier' type='hpophenotypes-12954.2' minOccurs='1' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            <p>The identity of the statement within the Human Phenotype Ontology</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='phenotype-laterality-modifier' type='laterality-11151.1' minOccurs='0' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            <p>The localization with respect to the side of the body of the
                    specified phenotypic abnormality.</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='phenotype-present' type='present-14645.1' minOccurs='1' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            <p>Presence of the phenotypic abnormality.</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='phenotype-spatial-pattern-modifier' type='spatialpattern-11153.1' minOccurs='0' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            <p>The pattern by which a phenotype affects one or more regions
                    of the body.</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='phenotype-onset-modifier' type='onset-11152.1' minOccurs='0' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            <p>The age group in which disease manifestations appear. Comment:
                    Adolescent is defined by WHO as a person between 10-19 years of
                    age.</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='phenotype-description' type='xs:string' minOccurs='0' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            <p>HPO description of the phenotype</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='hpo-build-number' type='xs:string' minOccurs='1' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            <p>This is the build number of the HPO ontology
                    used.</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='phenotype-severity-modifier' type='severity-11150.1' minOccurs='0' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            <p>The intensity or degree of a manifestation.</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name='laterality-11151.1' final='restriction'>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='Right'>
        <xs:annotation>
          <xs:appinfo>
            <display-text>Being located on the right side of the body.</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value='Unilateral'>
        <xs:annotation>
          <xs:appinfo>
            <display-text>Being present on only the left or only the right side of the body.</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value='Bilateral'>
        <xs:annotation>
          <xs:appinfo>
            <display-text>Being present on both sides of the body.</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value='Left'>
        <xs:annotation>
          <xs:appinfo>
            <display-text>Being located on the left side of the body.</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='onset-11152.1' final='restriction'>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='Embryonal onset'>
        <xs:annotation>
          <xs:appinfo>
            <display-text>Onset of disease at up to 8 weeks of gestation.</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value='Fetal onset'>
        <xs:annotation>
          <xs:appinfo>
            <display-text>Onset prior to birth but after 8 weeks of gestation.</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value='Neonatal onset'>
        <xs:annotation>
          <xs:appinfo>
            <display-text>Onset of signs or symptoms of disease within the first 28 days of life.</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value='Infantile onset'>
        <xs:annotation>
          <xs:appinfo>
            <display-text>Onset of signs or symptoms of disease between 28 days to one year of life.  Comment: Onset of signs or symptoms of disease within the first 24 months of life.</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value='Childhood onset'>
        <xs:annotation>
          <xs:appinfo>
            <display-text>Onset of disease at the age of between 1 and 5 years.</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value='Juvenile onset'>
        <xs:annotation>
          <xs:appinfo>
            <display-text>Onset of signs or symptoms of disease between the age of 5 and 15 years.</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value='Young adult onset'>
        <xs:annotation>
          <xs:appinfo>
            <display-text>Onset of disease at the age of between 16 and 40 years.</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value='Late Onset'>
        <xs:annotation>
          <xs:appinfo>
            <display-text>A type of adult onset with onset of symptoms after the age of 60 years.</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value='Middle age onset'>
        <xs:annotation>
          <xs:appinfo>
            <display-text>A type of adult onset with onset of symptoms at the age of 40 to 60 years.  Comment: Middle age is of course not amenable to precise definitions. We suggest using this term for onset of disease symptoms between the age of 40 and 60 years.</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='present-14645.1' final='restriction'>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='unknown'>
        <xs:annotation>
          <xs:appinfo>
            <display-text>Unknown</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value='yes'>
        <xs:annotation>
          <xs:appinfo>
            <display-text>Yes</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value='no'>
        <xs:annotation>
          <xs:appinfo>
            <display-text>No</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='progression-11154.1' final='restriction'>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='Progressive'>
        <xs:annotation>
          <xs:appinfo>
            <display-text>Progressive</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value='Nonprogressive'>
        <xs:annotation>
          <xs:appinfo>
            <display-text>Nonprogressive</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='severity-11150.1' final='restriction'>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='Borderline'>
        <xs:annotation>
          <xs:appinfo>
            <display-text>Having a minor degree of severity that is considered to be on the boundary between the normal and the abnormal ranges. For quantitative traits, a deviation of that is less than two standard deviations from the appropriate population mean.</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value='Mild'>
        <xs:annotation>
          <xs:appinfo>
            <display-text>Having a relatively minor degree of severity. For quantitative traits, a deviation of between two and three standard deviations from the appropriate population mean.</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value='Moderate'>
        <xs:annotation>
          <xs:appinfo>
            <display-text>Having a medium degree of severity. For quantitative traits, a deviation of between three and four standard deviations from the appropriate population mean.</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value='Severe'>
        <xs:annotation>
          <xs:appinfo>
            <display-text>Having a high degree of severity. For quantitative traits, a deviation of between four and five standard deviations from the appropriate population mean.</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value='Profound'>
        <xs:annotation>
          <xs:appinfo>
            <display-text>Having an extremely high degree of severity. For quantitative traits, a deviation of more than five standard deviations from the appropriate population mean.</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='hpophenotypes-12954.2' final='restriction'>
    <xs:restriction base='xs:token'>
      <xs:pattern value='HP:[0-9]{7}' />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='nhsnumber-12817.1' final='restriction'>
    <xs:restriction base='xs:token'>
      <xs:pattern value='[0-9]{10}' />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='spatialpattern-11153.1' final='restriction'>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='Distal'>
        <xs:annotation>
          <xs:appinfo>
            <display-text>Localized away from the central point of the body.</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value='Generalized'>
        <xs:annotation>
          <xs:appinfo>
            <display-text>Affecting all regions without specificity of distribution.</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value='Localized'>
        <xs:annotation>
          <xs:appinfo>
            <display-text>Being confined or restricted to a particular location.</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value='Proximal'>
        <xs:annotation>
          <xs:appinfo>
            <display-text>The pattern by which a phenotype affects one or more regions of the body.</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>