technical/GEL Schema/Rare Disease Models - v1.3.3/Rare Disease 1.3.3 - Schemas/RegistrationAndConsentRD-v1.5.3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
  xmlns:gelRD="https://genomicsengland.co.uk/xsd/raredisease/1.3.3"
  xmlns="https://genomicsengland.co.uk/xsd/raredisease/1.3.3"
  targetNamespace="https://genomicsengland.co.uk/xsd/raredisease/1.3.3" vc:minVersion="1.1">
  <xs:annotation>
    <xs:documentation>
      <h1>Registration and Consent RD</h1>
      <p>Version:1.5.3</p>
      <p>Description:major changes ,section changed,added more questions</p>
      <p>Generated: 2016-03-09T18:43:57.264+0000</p>
    </xs:documentation>
  </xs:annotation>
  <xs:element name="registration-and-consent">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="metadata" type="metadata" minOccurs="1" maxOccurs="1"/>
        <xs:element name="subject" type="subject-15005.9" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="metadata">
    <xs:sequence>
      <xs:element name="schema-name" minOccurs="1" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Registration and Consent RD"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="schema-version" minOccurs="1" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="1.5.3"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="date" type="xs:date" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>The date that this file was generated</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="source-organisation" type="xs:string" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>ODS code of the source organisation within the GMC sending the message</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="source-system" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>Source system. Optional but may be used to supply source with information if there are any issues with the submitted XML.</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="localReportId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>Source system report Id. Optional but may be used to supply source with information if there are any issues with the submitted XML.</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="subject-15005.9">
    <xs:sequence>
      <xs:element name="registration" type="registration-15006.5" minOccurs="1" maxOccurs="1"/>
      <xs:element name="participant-contact-details" type="participant-contact-details-15008.4"
        minOccurs="0" maxOccurs="1"/>
      <xs:element name="consent" type="consent-15009.3" minOccurs="1" maxOccurs="1"/>
      <xs:element name="clinical-information" type="clinical-information-15010.7" minOccurs="1"
        maxOccurs="1"/>
      <xs:element name="disease-and-eligibility" type="disease-and-eligibility-15014.5"
        minOccurs="1" maxOccurs="1"/>
      <xs:element name="family" type="family-15028.5" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registration-15006.5">
    <xs:sequence>
      <xs:element name="family-id" type="gmcfamilyid-12522.2" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>Genomics EnglandFamily Identifier assigned to the proband and their relatives. This should be the Proband Participant ID.</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="person-stated-gender" type="personstatedgendercode-12999.1" minOccurs="1"
        maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>The participant&amp;apos;s current gender</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="person-phenotypic-sex" type="personphenotypicsexclassification-12524.1"
        minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>The participant&amp;apos;s phenotypic sex classification at birth</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="person-karyotypic-sex" type="personkaryotypicsexclassification-31266.2"
        minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>The participant’s karyotypic sex</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ethnicity" type="ethniccategory-11250.2" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>The ethnicity of a PERSON, as specified by the PERSON. The 16+1 ethnic data categories defined in the 2001 census is the national mandatory standard for the collection and analysis of ethnicity.</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="surname-at-birth" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>The participant&amp;apos;s surname at birth, if available and different from current surname</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="genomic-medicine-centre-id" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>ODS code of the NHS trust responsible for the patient (the main GMC trust, or the local delivery partner)</p>
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="local-case-identifier" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>Optional case identifier or family number used locally, if different from family id</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="participant-identifiers" type="participant-identifiers-29049.2"
        minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="participant-identifiers-29049.2">
    <xs:sequence>
      <xs:element name="participant-id" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>Participant Identifier (supplied by Genomics England)</p>
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="date-of-birth" type="xs:date" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>The participant&amp;apos;s date of birth</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nhs-number" type="nhsnumber-12817.1" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>Validated NHS number for participant</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="chi-number" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>Scottish Community Health Index (CHI) number for participant</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hospital-number" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>Hospital number of the participant</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="surname" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>The participant&amp;apos;s surname</p>
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="forenames" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>The participant&amp;apos;s forenames</p>
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="participant-contact-details-15008.4">
    <xs:sequence>
      <xs:element name="participant-email-address" type="emailaddress-12636.1" minOccurs="0"
        maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>Email address of participant</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="participant-home-telephone" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>If available, the participant&amp;apos;s home telephone number</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="participant-mobile-telephone" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>If available, the participant&amp;apos;s mobile telephone number</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="address-line-1" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>Premises ID and/or house name, e.g. &amp;apos;Flat 1&amp;apos;, &amp;apos;The Old Schoolhouse&amp;apos;</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="address-line-2" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>House number, dependent thoroughfare name and descriptor without
commas, e.g. &amp;apos;23 Mill Lane&amp;apos;</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="address-line-3" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>Dependent locality/village, e.g. &amp;apos;Boxgrove&amp;apos;</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="address-line-4" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>Post town, e.g. &amp;apos;Leeds&amp;apos;</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="address-line-5" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>County (if present), e.g. &amp;apos;Hampshire&amp;apos;, &amp;apos;Hants&amp;apos;</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="postcode" type="postcode-12820.1" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>The UK format Postcode, 8 character string, as per BS7666. The 8 characters field allows a space to be inserted to differentiate
between the inward and outward segments of the code, enabling full use to
be made of Royal Mail postcode functionality.</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consent-15009.3">
    <xs:sequence>
      <xs:element name="date-of-consent" type="xs:date" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>Date consent taken</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="name-and-version-of-consent-form" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>Name and Version of form used - list of names and versions available from genomicsengland.co.uk/library-and-resources/</p>
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="consent-given" type="yesno-12551.3" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>Yes no answer to consent given</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="consent-form" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>File name of uploaded PDF copy of consent form - requested format [ParticipantId]_consent_[TimeStamp].pdf</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="person-taking-consent" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>The full name of the person taking consent</p>
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="name-and-version-of-participant-information-sheet" minOccurs="1"
        maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>Name and Version of information sheet presented - list of names and versions available from genomicsengland.co.uk/library-and-resources/</p>
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="consent-details" type="consent-details-14545.3" minOccurs="1" maxOccurs="20"
      />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consent-details-14545.3">
    <xs:sequence>
      <xs:element name="consent-question" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>A particular question on a consent form</p>
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="consent-response" type="yesno-12551.3" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>Yes or no response to a particular question on the consent form</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="clinical-information-15010.7">
    <xs:sequence>
      <xs:element name="participant-type" type="participanttype-12569.1" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>Type of participant - rare disease proband or participating relative</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="information" type="information-35976.1" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="information-35976.1">
    <xs:choice>
      <xs:element name="proband" type="proband-15011.6" minOccurs="1" maxOccurs="1"/>
      <xs:element name="relative" type="relative-15013.5" minOccurs="1" maxOccurs="1"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="proband-15011.6">
    <xs:sequence>
      <xs:element name="out-of-area-recruitment" type="yesno-12551.3" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>Flag if a relative of the proband is recruited out of area</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="consanguinity" type="consanguinity-12574.1" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>Presence of consanguinity</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="pattern-of-affected-individuals-in-family"
        type="familyaffectionpattern-31269.1" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>Pattern of affected individuals in the family.</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="penetrance" type="penetrance-31271.2" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>Is there any indication that the disease is not fully penetrant?</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="group-type" type="grouptype-12570.3" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>The type of family group used against supplied enumeration</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="mother-affected" type="affectedstatus-12576.2" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>Mother affected with same condition as proband, chosen from supplied enumeration</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="father-affected" type="affectedstatus-12576.2" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>Father affected with same condition as proband, chosen from supplied enumeration</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="full-brothers-affected" type="xs:nonNegativeInteger" minOccurs="0"
        maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>Number of full brothers with same condition</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="total-full-brothers" type="xs:nonNegativeInteger" minOccurs="0"
        maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>Total number of full brothers</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="full-sisters-affected" type="xs:nonNegativeInteger" minOccurs="0"
        maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>Number of full sisters with same condition</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="total-full-sisters" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>Total number of full sisters</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="relative-15013.5">
    <xs:sequence>
      <xs:element name="proband-forenames" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>The forenames of the proband associated with the family group, used for consistency checks</p>
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="proband-surname" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>The surname of the proband associated with the family group, used for consistency checks</p>
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="proband-nhs-number" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>The nhs number of the proband associated with the family group, used for consistency checks</p>
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="proband-date-of-birth" type="xs:date" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>The date of birth of the proband associated with the family group, used for consistency checks</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="biological-relationship-to-proband"
        type="biologicalfamilyrelationship-12578.4" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>Biological Relationship to Proband</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="other-biological-relationship-to-proband" type="xs:string" minOccurs="0"
        maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>Biological Relationship to Proband if not in the enumeration supplied</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="disease-and-eligibility-15014.5">
    <xs:sequence>
      <xs:element name="eligibility" type="eligibility-15016.2" minOccurs="0" maxOccurs="1"/>
      <xs:element name="consultant-details" type="consultant-details-15029.3" minOccurs="1"
        maxOccurs="1"/>
      <xs:element name="diagnosis" type="diagnosis-35968.1" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eligibility-15016.2">
    <xs:sequence>
      <xs:element name="eligibility-statement-version" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>Name and version of the disease specific eligibility statement - requested format [diseaseName]_[eligibilityId]</p>
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="eligible" type="yesno-12551.3" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>Participant&amp;apos;s eligibility</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultant-details-15029.3">
    <xs:sequence>
      <xs:element name="full-name-of-responsible-consultant" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>Nominated person responsible for patients clinical care and recipient of clinical reports and communications for Genomics England</p>
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="consultant-gmc-number" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>GMC number of consultant with responsibility for the patient&amp;apos;s clinical care</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="full-name-not-consultant" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>Full name of person entering data on behalf of consultant</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="contact-number" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>Phone number for the consultant.</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hospital-of-responsible-consultant" type="xs:string" minOccurs="0"
        maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>ODS code of the hospital to which the consultant is contracted under their MAIN SPECIALTY for the purposes of the current work.</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="diagnosis-35968.1">
    <xs:sequence>
      <xs:element name="event-date" type="xs:dateTime" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>Date of the clinical event or observation being reported e.g. date biopsy was taken</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="event-reference" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>Unique identifier for local record of clinical event or observation</p>
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="disease-information" type="disease-information-35982.1" minOccurs="1"
        maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="disease-information-35982.1">
    <xs:choice>
      <xs:element name="disease-information-gel" type="disease-information-gel-29283.3"
        minOccurs="1" maxOccurs="1"/>
      <xs:element name="disease-information-other" type="disease-information-other-36169.1"
        minOccurs="1" maxOccurs="1"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="disease-information-gel-29283.3">
    <xs:sequence>
      <xs:element name="disease-group" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>Top-level classification of rare diseases (project specific)
See Genomics England Rare Disease List</p>
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="disease-subgroup" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>Narrower classification of disease
See Genomics England Rare Disease List</p>
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="specific-disease" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>Specific rare disorder within this classification
See Genomics England Rare Disease List</p>
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="age-of-onset" type="xs:double" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>Age of onset of predominant features in years (fractions). Please use negative numbers for prenatal disorders.</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="disease-information-other-36169.1">
    <xs:choice>
      <xs:element name="medical-condition-icd10" type="icd10code-31154.1" minOccurs="1"
        maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>Medical condition coded using ICD10</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="medical-condition-snomedct" type="diagnostictermssnomedct-31152.1"
        minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>Medical condition coded using SnomedCT</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="omim-code" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>OMIM code that best describes disorder</p>
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="family-15028.5">
    <xs:sequence>
      <xs:element name="mothers-ethnic-origin" type="ethniccategory-11250.2" minOccurs="1"
        maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>The ethnic origin of the participant&amp;apos;s father, against supplied enumeration. If no origin supplied please use Z</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="mothers-ethnic-origin-other" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>Ethnic origin, if not in enumeration supplied</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="mothers-other-relevant-ancestry" type="xs:string" minOccurs="0"
        maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>Pertinent to clinical findings, additional relevant ancestry such as ashkenazi</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fathers-ethnic-origin" type="ethniccategory-11250.2" minOccurs="1"
        maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>The ethnic origin of the participant&amp;apos;s father, against supplied enumeration. If no origin supplied please use Z</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fathers-ethnic-origin-other" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>Father&amp;apos;s ethnic origin, if not in enumeration supplied</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fathers-other-relevant-ancestry" type="xs:string" minOccurs="0"
        maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>Pertinent to clinical findings, additional relevant ancestry such as ashkenazi</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="maternal-family-history-of-breast-and-or-ovarian-cancer"
        type="yesnounk-11161.2" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>If available, maternal first or second degree relative with history of Breast and/or Ovarian Cancer, if unknown please choose unknown.</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="maternal-family-history-of-colorectal-cancer" type="yesnounk-11161.2"
        minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>If available, maternal first or second degree relative with history of Colorectal Cancer, if unknown please choose unknown.</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="maternal-family-history-of-ischaemic-heart-disease-or-stroke"
        type="yesnounk-11161.2" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>If available, maternal first or second degree relative with history of Ischaemic Heart Disease or Stroke, if unknown please choose unknown.</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="maternal-family-history-of-endocrine-tumours" type="yesnounk-11161.2"
        minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>If available, maternal first or second degree relative with history of Endocrine Tumours, if unknown please choose unknown.</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="other-relevant-maternal-family-history" type="xs:string" minOccurs="0"
        maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>Other relevant history</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="paternal-family-history-of-breast-and-or-ovarian-cancer"
        type="yesnounk-11161.2" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>If available, paternal first or second degree relative with history of Breast and/or Ovarian Cancer if unknown please choose unknown.</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="paternal-family-history-of-colorectal-cancer" type="yesnounk-11161.2"
        minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>If available, paternal first or second degree relative with history of Colorectal Cancer, if unknown please choose unknown.</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="paternal-family-history-of-ischaemic-heart-disease-or-stroke"
        type="yesnounk-11161.2" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>If available, paternal first or second degree relative with history of Ischaemic Heart Disease or Stroke, if unknown please choose unknown.</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="paternal-family-history-of-endocrine-tumours" type="yesnounk-11161.2"
        minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>If available, paternal first or second degree relative with history of Endocrine Tumours, if unknown please choose unknown.</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="other-relevant-paternal-family-history" type="xs:string" minOccurs="0"
        maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            <p>Other Relevant Paternal Family History</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="affectedstatus-12576.2" final="restriction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="yes">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Yes</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="no">
        <xs:annotation>
          <xs:appinfo>
            <display-text>No</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="unknown">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Unknown</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="biologicalfamilyrelationship-12578.4" final="restriction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Mother">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Mother</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Father">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Father</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TwinsMonozygous">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Twins-Monozygous</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TwinsDizygous">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Twins-Dizygous</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TwinsUnknown">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Twins-Unknown</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FullSibling">
        <xs:annotation>
          <xs:appinfo>
            <display-text>FullSibling</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FullSiblingM">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Half Sibling (shared mother)</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FullSiblingF">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Half Sibling (shared father)</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MaternalAunt">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Maternal Aunt</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PaternalAunt">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Paternal Aunt</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MaternalUncle">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Maternal Uncle</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PaternalUncle">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Paternal Uncle</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MaternalCousinSister">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Maternal Cousin - child of mother's sister</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MaternalCousinBrother">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Maternal Cousin - child of mother's brother</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PaternalCousinSister">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Paternal Cousin - child of father's sister</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PaternalCousinBrother">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Paternal Cousin - child of father's brother</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MaternalGrandmother">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Maternal Grandmother</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MaternalGrandfather">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Maternal Grandfather</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PaternalGrandmother">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Paternal Grandmother</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PaternalGrandfather">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Paternal Grandfather</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DoubleFirstCousin">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Double First Cousin</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FirstCousinOnceRemoved">
        <xs:annotation>
          <xs:appinfo>
            <display-text>First Cousin OnceRemoved</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SecondCousin">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Second Cousin</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SecondCousinOnceRemoved">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Second Cousin Once Removed</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ThirdCousin">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Third Cousin</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Son">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Son</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Daughter">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Daughter</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Other">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Other (Please specify)</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="consanguinity-12574.1" final="restriction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="U">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Unknown</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="P">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Possible</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="N">
        <xs:annotation>
          <xs:appinfo>
            <display-text>No</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Y">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Yes</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="diagnostictermssnomedct-31152.1" final="restriction">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="emailaddress-12636.1" final="restriction">
    <xs:restriction base="xs:token">
      <xs:pattern value="[\w\.]+@([\w]+\.)+[\w]{2,4}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ethniccategory-11250.2" final="restriction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="D">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Mixed: White and Black Caribbean</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="E">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Mixed: White and Black African</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="F">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Mixed: White and Asian</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="G">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Mixed: Any other mixed background</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="A">
        <xs:annotation>
          <xs:appinfo>
            <display-text>White: British</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="B">
        <xs:annotation>
          <xs:appinfo>
            <display-text>White: Irish</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="C">
        <xs:annotation>
          <xs:appinfo>
            <display-text>White: Any other White background</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="L">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Asian or Asian British: Any other Asian background</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="M">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Black or Black British: Caribbean</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="N">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Black or Black British: African</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="H">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Asian or Asian British: Indian</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="J">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Asian or Asian British: Pakistani</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="K">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Asian or Asian British: Bangladeshi</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="P">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Black or Black British: Any other Black background</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="S">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Other Ethnic Groups: Any other ethnic group</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="R">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Other Ethnic Groups: Chinese</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Z">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Not stated</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="familyaffectionpattern-31269.1" final="restriction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="singleUnknown">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Single affected person with unknown family history</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="singleIsolated">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Single isolated case of disease with unaffected parents</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="multipleSibsNotParents">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Multiple affected full siblings with unaffected parents</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="multipleNotAllSibs">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Multiple affected related individuals, not all of whom are full siblings</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="gmcfamilyid-12522.2" final="restriction">
    <xs:restriction base="xs:token">
      <xs:pattern value="[0-9]{9}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="grouptype-12570.3" final="restriction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Trio with Mother AND Father</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Trio with Mother OR Father AND other biological relative</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="3">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Trio with other biological relatives</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="4">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Duo with Mother OR Father</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="5">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Duo with other biological relative</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="6">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Families with more than 3 participants</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="7">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Singleton</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="icd10code-31154.1" final="restriction">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="nhsnumber-12817.1" final="restriction">
    <xs:restriction base="xs:token">
      <xs:pattern value="[0-9]{10}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="participanttype-12569.1" final="restriction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Proband">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Proband</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Relative">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Relative</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="penetrance-31271.2" final="restriction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="N">
        <xs:annotation>
          <xs:appinfo>
            <display-text>No</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="9">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Unknown</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Y">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Yes</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="personkaryotypicsexclassification-31266.2" final="restriction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="XY">
        <xs:annotation>
          <xs:appinfo>
            <display-text>XY</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="XX">
        <xs:annotation>
          <xs:appinfo>
            <display-text>XX</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="XO">
        <xs:annotation>
          <xs:appinfo>
            <display-text>XO</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="XXY">
        <xs:annotation>
          <xs:appinfo>
            <display-text>XXY</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="XYY">
        <xs:annotation>
          <xs:appinfo>
            <display-text>XYY</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="XXX">
        <xs:annotation>
          <xs:appinfo>
            <display-text>XXX</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="XXYY">
        <xs:annotation>
          <xs:appinfo>
            <display-text>XXYY</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="XXXY">
        <xs:annotation>
          <xs:appinfo>
            <display-text>XXXY</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="XXXX">
        <xs:annotation>
          <xs:appinfo>
            <display-text>XXXX</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:appinfo>
            <display-text>other</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="unknown">
        <xs:annotation>
          <xs:appinfo>
            <display-text>unknown</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="personphenotypicsexclassification-12524.1" final="restriction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="2">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Female</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Male</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="9">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Indeterminate</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="personstatedgendercode-12999.1" final="restriction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="2">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Female</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Male</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="9">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Not Specified (Unable to be classified as either male or female) </display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="X">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Not Known (PERSON STATED GENDER CODE not recorded)</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="postcode-12820.1" final="restriction">
    <xs:restriction base="xs:token">
      <xs:pattern
        value="(GIR ?0AA|[A-PR-UWYZ]([0-9]{1,2}|([A-HK-Y][0-9]([0-9ABEHMNPRV-Y])?)|[0-9][A-HJKPS-UW]) ?[0-9][ABD-HJLNP-UW-Z]{2})"
      />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="yesno-12551.3" final="restriction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="yes">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Yes</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="no">
        <xs:annotation>
          <xs:appinfo>
            <display-text>No</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="yesnounk-11161.2" final="restriction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="yes">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Yes</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="no">
        <xs:annotation>
          <xs:appinfo>
            <display-text>No</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="unknown">
        <xs:annotation>
          <xs:appinfo>
            <display-text>Unknown</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
