docs/original datasets/CancerDataModel312FinalPack/XML Schemas (XSDs).zip Folder/CarePlansCancer-v3.1.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:html="http://www.w3.org/1999/xhtml"
   xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
   xmlns:gelCAN="https://genomicsengland.co.uk/xsd/cancer/3.1.2"
   xmlns="https://genomicsengland.co.uk/xsd/cancer/3.1.2"
   xmlns:xs="http://www.w3.org/2001/XMLSchema"
   targetNamespace="https://genomicsengland.co.uk/xsd/cancer/3.1.2" vc:minVersion="1.1"
   elementFormDefault="qualified">
   <xs:element name="cancer-care-plans">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="metadata" type="metadata" minOccurs="1" maxOccurs="1"/>
            <xs:element name="subject" type="subject-29924" minOccurs="1" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="metadata">
      <xs:sequence>
         <xs:element name="schema-name" minOccurs="1" maxOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="CarePlansCancer"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="schema-version" minOccurs="1" maxOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="3.1.2"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="date-time" type="xs:dateTime" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation>
                  <p>The dateTime that this file was generated</p>
               </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="source-organisation" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation>
                  <p>ODS code of the source organisation within the GMC sending the message</p>
               </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="source-system" type="xs:string" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation>
                  <p>Source system. Optional but may be used to supply source with information if
                     there are any issues with the submitted XML.</p>
               </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="local-report-id" type="xs:string" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation>
                  <p>Source system report Id. Optional but may be used to supply source with
                     information if there are any issues with the submitted XML.</p>
               </xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="subject-29924">
      <xs:sequence>
         <xs:element name="participant-identifiers" type="participant-identifiers-39047"
            minOccurs="1" maxOccurs="1"/>
         <xs:element name="cancer-care-plan" type="cancer-care-plan-14960" minOccurs="1"
            maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="participant-identifiers-39047">
      <xs:sequence>
         <xs:element name="person-identifier" minOccurs="1" maxOccurs="1"
            type="person-identifier-42125">
            <xs:annotation>
               <xs:documentation>Choice of one of either NHS Number (Wales &amp; England) OR CHI
                  Number (Scotland) OR Health and Care Number (Northern Ireland).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="participant-id" minOccurs="1" maxOccurs="1" type="participantid-3375">
            <xs:annotation>
               <xs:documentation>Participant Identifier (supplied by Genomics
                  England)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="date-of-birth" minOccurs="1" maxOccurs="1" type="xs:date">
            <xs:annotation>
               <xs:documentation>The date on which a PERSON was born or is officially deemed to have
                  been born.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="surname" minOccurs="1" maxOccurs="1" type="personfamilyname-321">
            <xs:annotation>
               <xs:documentation>The participant's surname</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="forenames" minOccurs="1" maxOccurs="1" type="persongivenname-323">
            <xs:annotation>
               <xs:documentation>The participant's forenames</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="person-identifier-42125">
      <xs:choice>
         <xs:element name="nhs-number" minOccurs="1" maxOccurs="1" type="nhsnumber-3378">
            <xs:annotation>
               <xs:documentation>Validated NHS number for participant</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="chi-number" minOccurs="1" maxOccurs="1" type="chinumber-3380">
            <xs:annotation>
               <xs:documentation>The COMMUNITY HEALTH INDEX NUMBER (CHI NUMBER) uniquely identifies
                  a PATIENT on the Community Health Index (Scotland) within the NHS in Scotland. It
                  is the equivalent of the NHS NUMBER in England and Wales.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="health-and-care-number" minOccurs="1" maxOccurs="1"
            type="healthandcarenumber-42127">
            <xs:annotation>
               <xs:documentation>Validated HEALTH AND CARE NUMBER (H&amp;C NUMBER). Uniquely
                  identifies a PATIENT within the NHS in Northern Ireland. It is the equivalent of
                  the NHS NUMBER in England and Wales.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:choice>
   </xs:complexType>
   <xs:simpleType name="participantid-3375">
      <xs:restriction base="xs:string">
         <xs:minLength value="1"/>
         <xs:pattern value="\d{9}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="personfamilyname-321">
      <xs:restriction base="xs:string">
         <xs:minLength value="1"/>
         <xs:pattern value="[a-zA-Z0-9\s-]{3,35}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="persongivenname-323">
      <xs:restriction base="xs:string">
         <xs:minLength value="1"/>
         <xs:pattern value="[a-zA-Z0-9\s-]{3,35}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="nhsnumber-3378">
      <xs:restriction base="xs:string">
         <xs:minLength value="1"/>
         <xs:maxLength value="10"/>
         <xs:pattern value="[0-9]{10}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="chinumber-3380">
      <xs:restriction base="xs:string">
         <xs:minLength value="1"/>
         <xs:pattern value="[a-zA-Z0-9]{10}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="healthandcarenumber-42127">
      <xs:restriction base="xs:string">
         <xs:minLength value="1"/>
         <xs:pattern value="[a-zA-Z0-9]{10}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="cancer-care-plan-14960">
      <xs:sequence>
         <xs:element name="event-details" minOccurs="1" maxOccurs="1" type="event-details-40374">
            <xs:annotation>
               <xs:documentation>The local ‘Event Reference’ combined with the Event Date, is used
                  to identify the actual participant event involved. GMCs must ensure that local
                  event references are not re-used to refer to different events, therefore two
                  different events on the same date can be easily identified. GMCs must also ensure
                  no two participants are given the same event reference. If a second submission is
                  received with the same local event reference, then Genomics England will assume
                  that this is an update pertaining to the same participant event, and will be used
                  in place of the original submission; any data values previously supplied that are
                  still applicable must therefore be included.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="related-cancer-diagnoses" minOccurs="1" maxOccurs="1"
            type="related-cancer-diagnoses-40377">
            <xs:annotation>
               <xs:documentation>Cancer diagnoses that led to the reported clinical event. More than
                  one diagnosis can be provided for the same event, e.g. where an event pertains to
                  more than one diagnosis.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="cancer-specific-care-plan" minOccurs="0" maxOccurs="1"
            type="cancer-specific-care-plan-40392">
            <xs:annotation>
               <xs:documentation>Priority COSD data items from cancer specific care plans.
                  Submission is optional however, if submitted, one of the following sections must
                  be provided</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="start-date" minOccurs="0" maxOccurs="1" type="xs:date">
            <xs:annotation>
               <xs:documentation>Start date for the proposed treatment. This may or may not be known
                  at the time of care planning, and therefore is optional.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="treatment-intent" minOccurs="1" maxOccurs="1"
            type="cancercareplanintent-447">
            <xs:annotation>
               <xs:documentation>Intent of the proposed treatment. The intention of a Cancer Care
                  Plan developed within a Cancer Care Spell.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="no-cancer-treatment-reason" minOccurs="0" maxOccurs="1"
            type="nocancertreatmentreason-451">
            <xs:annotation>
               <xs:documentation>Code for decision not to treat. The main reason why no active
                  cancer treatment is specified within a Cancer Care Plan.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="performance-status" minOccurs="1" maxOccurs="1"
            type="performancestatusadult-455">
            <xs:annotation>
               <xs:documentation>Performance status of the participant. A World Health Organisation
                  classification indicating a PERSON's status relating to activity /
                  disability.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="outcome-of-mdt" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Freetext report on the outcome of MDT
                  discussions</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="tumour-id" minOccurs="1" maxOccurs="unbounded" type="tumourid-42261">
            <xs:annotation>
               <xs:documentation>A locally allocated identifier for the participant's tumour. This should be unique for each tumour submitted from a patient.  Two tumours resected at the same time would have unique Tumour IDs. 
                  All sample reports and event reports that relate to a Genomics England tumour sample must have a locally allocated Tumour ID. Tumour IDs must be unique within the context of a GMC Clinic and should conform to the following convention:
                  Clinic ID proceeded by "_" proceeded by the local tumour identifier used to refer to a tumour, which must be between 1 and 16 alphanumeric characters
                  i.e. RN3_A098BC
               </xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="event-details-40374">
      <xs:sequence>
         <xs:element name="event-date" minOccurs="1" maxOccurs="1" type="xs:dateTime">
            <xs:annotation>
               <xs:documentation>Date of the clinical event or observation being reported e.g. date
                  biopsy was taken</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="event-reference" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Unique identifier for local record of clinical event or
                  observation</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="related-cancer-diagnoses-40377">
      <xs:sequence>
         <xs:element name="related-cancer-diagnosis-icd" minOccurs="1" maxOccurs="unbounded"
            type="primarydiagnosisicd-311">
            <xs:annotation>
               <xs:documentation>Cancer diagnoses that led to the reported clinical event. More than
                  one diagnosis can be provided for the same event, e.g. where an event pertains to
                  more than one diagnosis.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="related-cancer-diagnosis-snomedct" minOccurs="0" maxOccurs="unbounded"
            type="diagnosiscodesnomedct-10594">
            <xs:annotation>
               <xs:documentation>Optionally, provide the related cancer diagnosis as SNOMED CT code
                  as well as the ICD code. Related Cancer Diagnosis is the diagnosis that led to the
                  reported clinical event. More than one diagnosis can be provided for the same
                  event, e.g. where an event pertains to more than one diagnosis.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cancer-specific-care-plan-40392">
      <xs:choice>
         <xs:element name="cancer-care-plan-urology" minOccurs="1" maxOccurs="1"
            type="cancer-care-plan-urology-38967">
            <xs:annotation>
               <xs:documentation>Priority COSD data items from UROLOGY - CANCER CARE PLAN. To carry
                  the cancer care plan details for Urology cancer.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="cancer-care-plan-cns" minOccurs="1" maxOccurs="1"
            type="cancer-care-plan-cns-38987">
            <xs:annotation>
               <xs:documentation>Priority COSD data items from CNS - CANCER CARE PLAN. To carry
                  cancer care plan details for CNS cancer.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="cancer-care-plan-lung" minOccurs="1" maxOccurs="1" type="cancer-care-plan-lung-38963">
            <xs:annotation>
               <xs:documentation>Priority COSD data items from LUNG - CANCER CARE PLAN. To carry
                  care plan details for Lung Carcinoma.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:choice>
   </xs:complexType>
   <xs:complexType name="cancer-care-plan-urology-38967">
      <xs:sequence>
         <xs:element name="normal-ldh" minOccurs="1" maxOccurs="1" type="normalldh-1152">
            <xs:annotation>
               <xs:documentation>TESTICULAR ONLY. This is the upper limit of normal for the LDH
                  (Lactate Dehydrogenase Level) assay which is used to calculate S
                  Category.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cancer-care-plan-cns-38987">
      <xs:sequence>
         <xs:element name="mdt-provisional-diagnosis-icd" minOccurs="0" maxOccurs="1"
            type="mdtprovisionaldiagnosisicd-279">
            <xs:annotation>
               <xs:documentation>Working diagnosis as defined at MDT where the first definitive
                  treatment is agreed. This is the clinical opinion which may also be informed by
                  biopsy, radiological and/or other investigations.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="primary-diagnosis-icd-radiological" minOccurs="0" maxOccurs="1"
            type="primarydiagnosisicdradiological-277">
            <xs:annotation>
               <xs:documentation>The preliminary primary diagnosis based on radiological examination
                  recorded pre treatment. In many cases this will be the definitive clinical
                  diagnosis, but needs to be distinguished from the subsequent pathological
                  diagnosis - if it becomes available.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cancer-care-plan-lung-38963">
      <xs:sequence>
         <xs:element name="mediastinal-sampling-indicator" minOccurs="1" maxOccurs="1"
            type="yesnonk-1026">
            <xs:annotation>
               <xs:documentation>Record if the patient had a mediastinoscopy, mediastinotomy, open
                  mediastinal sampling or other type of mediastinal biopsy (e.g. Endobronchial
                  ultrasound or transbronchial needle aspiration biopsy)'</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="cancercareplanintent-447">
      <xs:restriction base="xs:token">
         <xs:enumeration value="C">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Curative </display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="Z">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Non Curative</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="X">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>No active treatment</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="9">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Not Known</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="nocancertreatmentreason-451">
      <xs:restriction base="xs:token">
         <xs:enumeration value="01">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Patient declined treatment</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="02">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Unfit: poor performance status</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="03">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Unfit: significant co-morbidity</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="04">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Unfit: advanced stage cancer</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="05">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Unknown primary site</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="06">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Died before treatment</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="07">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>No active treatment available</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="08">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Other</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="10">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Monitoring only </display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="99">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Not Known</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="performancestatusadult-455">
      <xs:restriction base="xs:token">
         <xs:enumeration value="0">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Able to carry out all normal activity without
                     restriction</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="1">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Restricted in physically strenuous activity, but able to walk and do
                     light work</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="2">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Able to walk and capable of all self care, but unable to carry out
                     any work. Up and about more than 50% of waking hours</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="3">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Capable of only limited self care, confined to bed or chair more
                     than 50% of waking hours</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="4">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Completely disabled. Cannot carry on any self care. Totally confined
                     to bed or chair</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="9">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Not recorded</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="tumourid-42261">
      <xs:restriction base="xs:string">
         <xs:minLength value="1"/>
         <xs:pattern value="[a-zA-Z0-9]{3,9}_[a-zA-Z0-9]{1,16}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="primarydiagnosisicd-311">
      <xs:restriction base="xs:string">
         <xs:minLength value="1"/>
         <xs:pattern value="[a-zA-Z0-9.]{3,6}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="diagnosiscodesnomedct-10594">
      <xs:restriction base="xs:string">
         <xs:minLength value="1"/>
         <xs:pattern value="\d{6,18}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="snomedct-3610">
      <xs:restriction base="xs:string">
         <xs:minLength value="1"/>
         <xs:pattern value="\d{6,18}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="normalldh-1152">
      <xs:restriction base="xs:string">
         <xs:minLength value="1"/>
         <xs:pattern value="\d{0,6}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="mdtprovisionaldiagnosisicd-279">
      <xs:restriction base="xs:string">
         <xs:minLength value="1"/>
         <xs:pattern value="[a-zA-Z0-9.]{4,6}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="primarydiagnosisicdradiological-277">
      <xs:restriction base="xs:string">
         <xs:minLength value="1"/>
         <xs:pattern value="[a-zA-Z0-9.]{4,6}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="yesnonk-1026">
      <xs:restriction base="xs:token">
         <xs:enumeration value="Y">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Yes</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="N">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>No</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="9">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Not known</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
