docs/original datasets/CancerDataModel312FinalPack/XML Schemas (XSDs).zip Folder/InterventionsCancer-v3.1.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:html="http://www.w3.org/1999/xhtml"
           xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
           xmlns:gelCAN="https://genomicsengland.co.uk/xsd/cancer/3.1.2"
           xmlns="https://genomicsengland.co.uk/xsd/cancer/3.1.2"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://genomicsengland.co.uk/xsd/cancer/3.1.2"
           vc:minVersion="1.1"
           elementFormDefault="qualified">
   <xs:element name="interventions">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="metadata" type="metadata" minOccurs="1" maxOccurs="1"/>
            <xs:element name="subject"
                        type="subject-29955"
                        minOccurs="1"
                        maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="metadata">
      <xs:sequence>
         <xs:element name="schema-name" minOccurs="1" maxOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="InterventionsCancer"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="schema-version" minOccurs="1" maxOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="3.1.2"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="date-time" type="xs:dateTime" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation>
                  <p>The dateTime that this file was generated</p>
               </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="source-organisation" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation>
                  <p>ODS code of the source organisation within the GMC sending the message</p>
               </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="source-system"
                     type="xs:string"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:annotation>
               <xs:documentation>
                  <p>Source system. Optional but may be used to supply source with information if there are any issues with the submitted XML.</p>
               </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="local-report-id"
                     type="xs:string"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:annotation>
               <xs:documentation>
                  <p>Source system report Id. Optional but may be used to supply source with information if there are any issues with the submitted XML.</p>
               </xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="subject-29955">
      <xs:sequence>
         <xs:element name="participant-identifiers"
                     type="participant-identifiers-39047"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="surgery-and-other-procedures"
                     type="surgery-and-other-procedures-14967"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="systemic-anti-cancer-therapy"
                     type="systemic-anti-cancer-therapy-14969"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="radiotherapy"
                     type="radiotherapy-14972"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="cancer-specific-treatments"
                     type="cancer-specific-treatments-39084"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="participant-identifiers-39047">
      <xs:sequence>
         <xs:element name="person-identifier"
                     minOccurs="1"
                     maxOccurs="1"
                     type="person-identifier-42125">
            <xs:annotation>
               <xs:documentation>Choice of one of either NHS Number (Wales &amp; England) OR CHI Number (Scotland) OR Health and Care Number (Northern Ireland).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="participant-id"
                     minOccurs="1"
                     maxOccurs="1"
                     type="participantid-3375">
            <xs:annotation>
               <xs:documentation>Participant Identifier (supplied by Genomics England)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="date-of-birth" minOccurs="1" maxOccurs="1" type="xs:date">
            <xs:annotation>
               <xs:documentation>The date on which a PERSON was born or is officially deemed to have been born.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="surname"
                     minOccurs="1"
                     maxOccurs="1"
                     type="personfamilyname-321">
            <xs:annotation>
               <xs:documentation>The participant's surname</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="forenames"
                     minOccurs="1"
                     maxOccurs="1"
                     type="persongivenname-323">
            <xs:annotation>
               <xs:documentation>The participant's forenames</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="person-identifier-42125">
      <xs:choice>
         <xs:element name="nhs-number"
                     minOccurs="1"
                     maxOccurs="1"
                     type="nhsnumber-3378">
            <xs:annotation>
               <xs:documentation>Validated NHS number for participant</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="chi-number"
                     minOccurs="1"
                     maxOccurs="1"
                     type="chinumber-3380">
            <xs:annotation>
               <xs:documentation>The COMMUNITY HEALTH INDEX NUMBER (CHI NUMBER) uniquely identifies a PATIENT on the Community Health Index (Scotland) within the NHS in Scotland.  It is the equivalent of the NHS NUMBER in England and Wales.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="health-and-care-number"
                     minOccurs="1"
                     maxOccurs="1"
                     type="healthandcarenumber-42127">
            <xs:annotation>
               <xs:documentation>Validated HEALTH AND CARE NUMBER (H&amp;C NUMBER). Uniquely identifies a PATIENT within the NHS in Northern Ireland.  It is the equivalent of the NHS NUMBER in England and Wales.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:choice>
   </xs:complexType>
   <xs:simpleType name="participantid-3375">
      <xs:restriction base="xs:string">
         <xs:minLength value="1"/>
         <xs:pattern value="\d{9}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="personfamilyname-321">
      <xs:restriction base="xs:string">
         <xs:minLength value="1"/>
         <xs:pattern value="[a-zA-Z0-9\s-]{3,35}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="persongivenname-323">
      <xs:restriction base="xs:string">
         <xs:minLength value="1"/>
         <xs:pattern value="[a-zA-Z0-9\s-]{3,35}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="nhsnumber-3378">
      <xs:restriction base="xs:string">
         <xs:minLength value="1"/>
         <xs:maxLength value="10"/>
         <xs:pattern value="[0-9]{10}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="chinumber-3380">
      <xs:restriction base="xs:string">
         <xs:minLength value="1"/>
         <xs:pattern value="[a-zA-Z0-9]{10}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="healthandcarenumber-42127">
      <xs:restriction base="xs:string">
         <xs:minLength value="1"/>
         <xs:pattern value="[a-zA-Z0-9]{10}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="intervention-14966">
      <xs:sequence>
         <xs:element name="participant-identifiers"
                     minOccurs="1"
                     maxOccurs="1"
                     type="participant-identifiers-39047">
            <xs:annotation>
               <xs:documentation>The following information is used to identify the participant and must be included with all data submissions.
For non-NHSE participants, including overseas participants, who do not have an NHS number, the dummy NHS number 2222222222 should be used.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="surgery-and-other-procedures"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="surgery-and-other-procedures-14967">
            <xs:annotation>
               <xs:documentation>For surgical and other procedures, in addition to the core intervention data items, the following are required:</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="systemic-anti-cancer-therapy"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="systemic-anti-cancer-therapy-14969">
            <xs:annotation>
               <xs:documentation>For each course of therapy, in addition to the core intervention data items, the following are required:</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="radiotherapy"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="radiotherapy-14972">
            <xs:annotation>
               <xs:documentation>For each course of radiotherapy, in addition to the core intervention data items, the following are required:</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="cancer-specific-treatments"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="cancer-specific-treatments-39084">
            <xs:annotation>
               <xs:documentation/>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="surgery-and-other-procedures-14967">
      <xs:sequence>
         <xs:element name="event-details"
                     minOccurs="1"
                     maxOccurs="1"
                     type="event-details-40374">
            <xs:annotation>
               <xs:documentation>The local ‘Event Reference’ combined with the Event Date, is used to identify the actual participant event involved.   GMCs must ensure that local event references are not re-used to refer to different events, therefore two different events on the same date can be easily identified. GMCs must also ensure no two participants are given the same event reference.

If a second submission is received with the same local event reference, then Genomics England will assume that this is an update pertaining to the same participant event, and will be used in place of the original submission; any data values previously supplied that are still applicable must therefore be included.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="related-cancer-diagnoses"
                     minOccurs="1"
                     maxOccurs="1"
                     type="related-cancer-diagnoses-40377">
            <xs:annotation>
               <xs:documentation>Cancer diagnoses that led to the reported clinical event. More than one diagnosis can be provided for the same event, e.g. where an event pertains to more than one diagnosis.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="cancer-specific-surgery"
                     minOccurs="0"
                     maxOccurs="1"
                     type="cancer-specific-surgery-40393">
            <xs:annotation>
               <xs:documentation>Priority COSD data items from dance specific surgery. Submission is optional however, if submitted, one of the following sections must be provided</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="main-specialty-code"
                     minOccurs="0"
                     maxOccurs="1"
                     type="specialty-3667">
            <xs:annotation>
               <xs:documentation>The main specialty code of the consultant performing the intervention</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="primary-procedure"
                     minOccurs="1"
                     maxOccurs="1"
                     type="opcsprocedurecodes-42150">
            <xs:annotation>
               <xs:documentation>OPCS code for the primary procedure. Primary procedure is the main procedure carried out.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="other-procedures"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="opcsprocedurecodes-42150">
            <xs:annotation>
               <xs:documentation>OPCS codes for other procedures. This is a procedure other than the PRIMARY PROCEDURE (OPCS), carried out and recorded for CDS or Hospital Episode Statistics purposes. (This may occur more than once).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="asa-score"
                     minOccurs="0"
                     maxOccurs="1"
                     type="asascore-157">
            <xs:annotation>
               <xs:documentation>Related to COSD v7, CR6010. The ASA physical status classification system is a system for assessing the fitness of patients before surgery.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="tumour-id"
                     minOccurs="1"
                     maxOccurs="unbounded"
                     type="tumourid-42261">
            <xs:annotation>
               <xs:documentation>A locally allocated identifier for the participant's tumour. This should be unique for each tumour submitted from a patient.  Two tumours resected at the same time would have unique Tumour IDs. 
                  All sample reports and event reports that relate to a Genomics England tumour sample must have a locally allocated Tumour ID. Tumour IDs must be unique within the context of a GMC Clinic and should conform to the following convention:
                  Clinic ID proceeded by "_" proceeded by the local tumour identifier used to refer to a tumour, which must be between 1 and 16 alphanumeric characters
                  i.e. RN3_A098BC
               </xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="event-details-40374">
      <xs:sequence>
         <xs:element name="event-date"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:dateTime">
            <xs:annotation>
               <xs:documentation>Date of the clinical event or observation being reported e.g. date biopsy was taken</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="event-reference" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Unique identifier for local record of clinical event or observation</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="related-cancer-diagnoses-40377">
      <xs:sequence>
         <xs:element name="related-cancer-diagnosis-icd"
                     minOccurs="1"
                     maxOccurs="unbounded"
                     type="primarydiagnosisicd-311">
            <xs:annotation>
               <xs:documentation>Cancer diagnoses that led to the reported clinical event. More than one diagnosis can be provided for the same event, e.g. where an event pertains to more than one diagnosis.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="related-cancer-diagnosis-snomedct"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="diagnosiscodesnomedct-10594">
            <xs:annotation>
               <xs:documentation>Optionally, provide the related cancer diagnosis as SNOMED CT code as well as the ICD code. Related Cancer Diagnosis is the diagnosis that led to the reported clinical event. More than one diagnosis can be provided for the same event, e.g. where an event pertains to more than one diagnosis.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cancer-specific-surgery-40393">
      <xs:sequence>
         <xs:element name="surgery-cns"
                     minOccurs="1"
                     maxOccurs="1"
                     type="surgery-cns-38984">
            <xs:annotation>
               <xs:documentation>Priority COSD data items from CNS - SURGERY &amp; OTHER PROCEDURES. To carry surgery and other procedure details for CNS cancer.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="surgery-cns-38984">
      <xs:sequence>
         <xs:element name="tumour-location-surgical"
                     minOccurs="0"
                     maxOccurs="1"
                     type="locationsurgical-282">
            <xs:annotation>
               <xs:documentation>Surgically determined anatomical location of lesion(s) or where centered.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="excision-or-procedure-type"
                     minOccurs="0"
                     maxOccurs="1"
                     type="excisionorproceduretype-42054">
            <xs:annotation>
               <xs:documentation>Identify type of excision or procedure (where performed)</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="systemic-anti-cancer-therapy-14969">
      <xs:sequence>
         <xs:element name="event-details"
                     minOccurs="1"
                     maxOccurs="1"
                     type="event-details-40374">
            <xs:annotation>
               <xs:documentation>The local ‘Event Reference’ combined with the Event Date, is used to identify the actual participant event involved.   GMCs must ensure that local event references are not re-used to refer to different events, therefore two different events on the same date can be easily identified. GMCs must also ensure no two participants are given the same event reference.

If a second submission is received with the same local event reference, then Genomics England will assume that this is an update pertaining to the same participant event, and will be used in place of the original submission; any data values previously supplied that are still applicable must therefore be included.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="related-cancer-diagnoses"
                     minOccurs="1"
                     maxOccurs="1"
                     type="related-cancer-diagnoses-40377">
            <xs:annotation>
               <xs:documentation>Cancer diagnoses that led to the reported clinical event. More than one diagnosis can be provided for the same event, e.g. where an event pertains to more than one diagnosis.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="drug-treatment-intent"
                     minOccurs="1"
                     maxOccurs="1"
                     type="drugtreatmentintent-1060">
            <xs:annotation>
               <xs:documentation>Treatment intent.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="drug-regimen"
                     minOccurs="1"
                     maxOccurs="1"
                     type="drugregimenacronym-1062">
            <xs:annotation>
               <xs:documentation>The drug regimen prescribed. To be consistent with the National Regimen List.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="main-specialty-code"
                     minOccurs="0"
                     maxOccurs="1"
                     type="specialty-3667">
            <xs:annotation>
               <xs:documentation>The main specialty code of the consultant performing the intervention</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="tumour-id"
                     minOccurs="1"
                     maxOccurs="unbounded"
                     type="tumourid-42261">
            <xs:annotation>
               <xs:documentation>A locally allocated identifier for the participant's tumour. This should be unique for each tumour submitted from a patient.  Two tumours resected at the same time would have unique Tumour IDs. 
                  All sample reports and event reports that relate to a Genomics England tumour sample must have a locally allocated Tumour ID. Tumour IDs must be unique within the context of a GMC Clinic and should conform to the following convention:
                  Clinic ID proceeded by "_" proceeded by the local tumour identifier used to refer to a tumour, which must be between 1 and 16 alphanumeric characters
                  i.e. RN3_A098BC
               </xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="radiotherapy-14972">
      <xs:sequence>
         <xs:element name="event-details"
                     minOccurs="1"
                     maxOccurs="1"
                     type="event-details-40374">
            <xs:annotation>
               <xs:documentation>The local ‘Event Reference’ combined with the Event Date, is used to identify the actual participant event involved.   GMCs must ensure that local event references are not re-used to refer to different events, therefore two different events on the same date can be easily identified. GMCs must also ensure no two participants are given the same event reference.

If a second submission is received with the same local event reference, then Genomics England will assume that this is an update pertaining to the same participant event, and will be used in place of the original submission; any data values previously supplied that are still applicable must therefore be included.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="related-cancer-diagnoses"
                     minOccurs="1"
                     maxOccurs="1"
                     type="related-cancer-diagnoses-40377">
            <xs:annotation>
               <xs:documentation>Cancer diagnoses that led to the reported clinical event. More than one diagnosis can be provided for the same event, e.g. where an event pertains to more than one diagnosis.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="radiotherapy-details"
                     minOccurs="1"
                     maxOccurs="1"
                     type="radiotherapy-details-41986">
            <xs:annotation>
               <xs:documentation/>
            </xs:annotation>
         </xs:element>
         <xs:element name="radiotherapy-site"
                     minOccurs="1"
                     maxOccurs="1"
                     type="anatomicaltreatmentsiteradiotherapy-1057">
            <xs:annotation>
               <xs:documentation>OPCS code for site. A classification of part of the body to which the RADIOTHERAPY ACTUAL DOSE is administered.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="dose"
                     minOccurs="1"
                     maxOccurs="1"
                     type="radiotherapytotaldose-547">
            <xs:annotation>
               <xs:documentation>The total prescribed absorbed radiation dose, measured in Grays, given to the ICRU Reference Point for the whole prescription. http://www.icru.org/home/reports/prescribing-recording-and-reporting-photon-beam-therapy-report-62</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="prescription" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Reference to uploaded copy of prescription document</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="plan" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Reference to uploaded copy of radiotherapy plan</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="radiotherapy-intent"
                     minOccurs="0"
                     maxOccurs="1"
                     type="radiotherapyintent-545">
            <xs:annotation>
               <xs:documentation>Intent of radiotherapy</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="main-specialty-code"
                     minOccurs="0"
                     maxOccurs="1"
                     type="specialty-3667">
            <xs:annotation>
               <xs:documentation>The main specialty code of the consultant performing the intervention</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="tumour-id"
                     minOccurs="1"
                     maxOccurs="unbounded"
                     type="tumourid-42261">
            <xs:annotation>
               <xs:documentation>A locally allocated identifier for the participant's tumour. This should be unique for each tumour submitted from a patient.  Two tumours resected at the same time would have unique Tumour IDs. 
                  All sample reports and event reports that relate to a Genomics England tumour sample must have a locally allocated Tumour ID. Tumour IDs must be unique within the context of a GMC Clinic and should conform to the following convention:
                  Clinic ID proceeded by "_" proceeded by the local tumour identifier used to refer to a tumour, which must be between 1 and 16 alphanumeric characters
                  i.e. RN3_A098BC
               </xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="radiotherapy-details-41986">
      <xs:choice>
         <xs:element name="brachytherapy"
                     minOccurs="1"
                     maxOccurs="1"
                     type="brachytherapy-41987">
            <xs:annotation>
               <xs:documentation/>
            </xs:annotation>
         </xs:element>
         <xs:element name="external-beam"
                     minOccurs="1"
                     maxOccurs="1"
                     type="external-beam-41988">
            <xs:annotation>
               <xs:documentation/>
            </xs:annotation>
         </xs:element>
      </xs:choice>
   </xs:complexType>
   <xs:complexType name="brachytherapy-41987">
      <xs:sequence>
         <xs:element name="brachytherapy-type"
                     minOccurs="1"
                     maxOccurs="1"
                     type="brachytherapytype-541">
            <xs:annotation>
               <xs:documentation>The type of Brachytherapy Treatment Course being used, if applicable.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="external-beam-41988">
      <xs:sequence>
         <xs:element name="external-beam-type"
                     minOccurs="1"
                     maxOccurs="1"
                     type="externalbeamtype-3684">
            <xs:annotation>
               <xs:documentation>Type of external beam, if applicable. The prescribed type of beam for a Teletherapy Treatment/ Exposure</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="fractions"
                     minOccurs="1"
                     maxOccurs="1"
                     type="radiotherapytotalfractions-549">
            <xs:annotation>
               <xs:documentation>Dose fractions, if external beam therapy. The total number of Fractions or hyperfraction delivered as part of a RADIOTHERAPY PRESCRIPTION.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cancer-specific-treatments-39084">
      <xs:sequence>
         <xs:element name="event-details"
                     minOccurs="1"
                     maxOccurs="1"
                     type="event-details-40374">
            <xs:annotation>
               <xs:documentation>The local ‘Event Reference’ combined with the Event Date, is used to identify the actual participant event involved.   GMCs must ensure that local event references are not re-used to refer to different events, therefore two different events on the same date can be easily identified. GMCs must also ensure no two participants are given the same event reference.

If a second submission is received with the same local event reference, then Genomics England will assume that this is an update pertaining to the same participant event, and will be used in place of the original submission; any data values previously supplied that are still applicable must therefore be included.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="related-cancer-diagnoses"
                     minOccurs="1"
                     maxOccurs="1"
                     type="related-cancer-diagnoses-40377">
            <xs:annotation>
               <xs:documentation>Cancer diagnoses that led to the reported clinical event. More than one diagnosis can be provided for the same event, e.g. where an event pertains to more than one diagnosis.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="cancer-specific-treatment"
                     minOccurs="1"
                     maxOccurs="1"
                     type="cancer-specific-treatment-40394">
            <xs:annotation>
               <xs:documentation/>
            </xs:annotation>
         </xs:element>
         <xs:element name="main-specialty-code"
                     minOccurs="0"
                     maxOccurs="1"
                     type="specialty-3667">
            <xs:annotation>
               <xs:documentation>The main specialty code of the consultant performing the intervention</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="tumour-id"
                     minOccurs="1"
                     maxOccurs="unbounded"
                     type="tumourid-42261">
            <xs:annotation>
               <xs:documentation>A locally allocated identifier for the participant's tumour. This should be unique for each tumour submitted from a patient.  Two tumours resected at the same time would have unique Tumour IDs. 
                  All sample reports and event reports that relate to a Genomics England tumour sample must have a locally allocated Tumour ID. Tumour IDs must be unique within the context of a GMC Clinic and should conform to the following convention:
                  Clinic ID proceeded by "_" proceeded by the local tumour identifier used to refer to a tumour, which must be between 1 and 16 alphanumeric characters
                  i.e. RN3_A098BC
               </xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cancer-specific-treatment-40394">
      <xs:choice>
         <xs:element name="other-treatment-bladder"
                     minOccurs="1"
                     maxOccurs="1"
                     type="other-treatment-bladder-38969">
            <xs:annotation>
               <xs:documentation>Priority COSD Data items from UROLOGY - TREATMENT - BLADDER. To carry the cancer treatment details for Bladder.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="other-treatment-upper-gi"
                     minOccurs="1"
                     maxOccurs="1"
                     type="other-treatment-upper-gi-39086">
            <xs:annotation>
               <xs:documentation>Priority COSD data items from UPPER GI - LIVER METS and LIVER HCC. To carry other procedure details for LIVER METS and Liver HCC.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:choice>
   </xs:complexType>
   <xs:complexType name="other-treatment-bladder-38969">
      <xs:sequence>
         <xs:element name="intravesical-chemotherapy-received-indicator"
                     minOccurs="0"
                     maxOccurs="1"
                     type="yesnonk-1026">
            <xs:annotation>
               <xs:documentation>Related to UR15100, updated description in COSD v7.0: BLADDER ONLY
(Only required for patients having chemotherapy)
Record as YES for patients having intravesical chemotherapy to distinguish from intravenous</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="intravesical-immunotherapy-received-indicator"
                     minOccurs="0"
                     maxOccurs="1"
                     type="yesnonk-1026">
            <xs:annotation>
               <xs:documentation>Related to UR15110, updated description in COSD v7.0: BLADDER ONLY
(Only required for patients having Immunotherapy)
Record as YES for patients having intravesical Immunotherapy to distinguish from intravenous</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="other-treatment-upper-gi-39086">
      <xs:sequence>
         <xs:element name="ablative-therapy-type"
                     minOccurs="0"
                     maxOccurs="1"
                     type="ablativetherapytype-1281">
            <xs:annotation>
               <xs:documentation>Describe type of ablative (i.e. locally destructive treatment) therapy used if any</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="trans-arterial-chemoembolisation"
                     minOccurs="0"
                     maxOccurs="1"
                     type="yesnonk-1026">
            <xs:annotation>
               <xs:documentation>Was Trans Arterial Chemoembolisation (TACE) carried out?</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="specialty-3667">
      <xs:restriction base="xs:string">
         <xs:minLength value="1"/>
         <xs:pattern value="[a-zA-Z0-9]{3}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="opcsprocedurecodes-42150">
      <xs:restriction base="xs:string">
         <xs:minLength value="1"/>
         <xs:pattern value="([a-zA-Z0-9.\-\\/]{3,5}\+)*([a-zA-Z0-9.\-\\/]{3,5})"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="asascore-157">
      <xs:restriction base="xs:token">
         <xs:enumeration value="1">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>A normal healthy patient.</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="2">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>A patient with mild systemic disease.</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="3">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>A patient with severe systemic disease</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="4">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>A patient with severe systemic disease that is a constant threat to life.</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="5">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>A moribund patient who is not expected to survive without the operation.</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="6">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>A declared brain-dead patient whose organs are being removed for donor purposes</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="tumourid-42261">
      <xs:restriction base="xs:string">
         <xs:minLength value="1"/>
         <xs:pattern value="[a-zA-Z0-9]{3,9}_[a-zA-Z0-9]{1,16}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="primarydiagnosisicd-311">
      <xs:restriction base="xs:string">
         <xs:minLength value="1"/>
         <xs:pattern value="[a-zA-Z0-9.]{3,6}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="diagnosiscodesnomedct-10594">
      <xs:restriction base="xs:string">
         <xs:minLength value="1"/>
         <xs:pattern value="\d{6,18}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="snomedct-3610">
      <xs:restriction base="xs:string">
         <xs:minLength value="1"/>
         <xs:pattern value="\d{6,18}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="locationsurgical-282">
      <xs:restriction base="xs:token">
         <xs:enumeration value="01">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Frontal lobe</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="02">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Temporal lobe</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="03">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Parietal lobe</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="04">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Occipital lobe</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="05">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Pineal region</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="06">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Hypothalamic</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="07">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Basal ganglia/thalamic</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="08">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Cerebellar</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="09">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Midbrain</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="10">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Pons</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="11">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Medulla</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="12">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Fourth ventricle</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="13">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Third ventricle</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="14">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Lateral ventricle</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="15">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Parasagittal/parafalcine dura</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="16">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Posterior fossa convexity dura</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="17">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Convexity dura</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="18">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Petrous temporal bone</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="19">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Orbital roof</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="20">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Skull vault</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="21">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Scalp</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="22">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Anterior cranial fossa</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="23">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Middle cranial fossa</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="25">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Infratemporal fossa</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="26">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Pterygopalatine fossa</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="27">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Anterior clinoid dura</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="28">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Sphenoid wing dura</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="29">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Subfrontal dura</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="30">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Suprasellar dura</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="31">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Clival dura</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="32">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Cavernous sinus</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="33">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Cerebellopontine angle</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="34">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Jugular bulb</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="35">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Venous angle dura</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="36">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Foramen magnum</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="37">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Cervical intramedullary</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="38">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Cervical intradural</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="39">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Cervical extradural</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="40">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Cervical bony</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="41">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Thoracic intramedullary</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="42">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Thoracic intradural</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="43">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Thoracic extradural</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="44">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Thoracic bony</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="45">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Lumbar intramedullary</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="46">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Lumbar intradural</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="47">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Lumbar extradural</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="48">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Lumbar bony</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="98">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Other</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="excisionorproceduretype-42054">
      <xs:restriction base="xs:token">
         <xs:enumeration value="1">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Limited (&lt;50%)</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="2">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Partial (50-69%)</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="3">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Subtotal (70-95%)</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="4">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Total Macroscopic</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="5">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Extent Uncertain</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="6">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>CSF Division Procedure</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="9">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Not Known</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="drugtreatmentintent-1060">
      <xs:restriction base="xs:token">
         <xs:enumeration value="D">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Disease Modification</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="P">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Palliative</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="A">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Adjuvant</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="C">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Curative</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="N">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Neoadjuvant</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="drugregimenacronym-1062">
      <xs:restriction base="xs:string">
         <xs:minLength value="1"/>
         <xs:pattern value="[a-zA-Z0-9.\\/()]{1,35}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="anatomicaltreatmentsiteradiotherapy-1057">
      <xs:restriction base="xs:string">
         <xs:minLength value="1"/>
         <xs:pattern value="[a-zA-Z0-9.]{3,5}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="radiotherapytotaldose-547">
      <xs:restriction base="xs:string">
         <xs:minLength value="1"/>
         <xs:pattern value="\d{1,3}\.\d{1,2}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="radiotherapyintent-545">
      <xs:restriction base="xs:token">
         <xs:enumeration value="01">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Palliative</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="02">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Anti-cancer</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="03">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Other</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="brachytherapytype-541">
      <xs:restriction base="xs:token">
         <xs:enumeration value="BI">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Interstitial</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="BC">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Intra-cavity</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="BT">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Not otherwise specified</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="US">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Unsealed Source</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="externalbeamtype-3684">
      <xs:restriction base="xs:token">
         <xs:enumeration value="imrt">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>IMRT</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="stereotactic">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Stereotactic</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="2dxrt">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>2DXRT</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="3dxrt">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>3DXRT</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="4dxrt">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>4DXRT</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="electrons">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Electrons</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="protons">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Protons</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="radiotherapytotalfractions-549">
      <xs:restriction base="xs:string">
         <xs:minLength value="1"/>
         <xs:pattern value="\d{1,2}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="yesnonk-1026">
      <xs:restriction base="xs:token">
         <xs:enumeration value="Y">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Yes</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="N">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>No</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="9">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Not known</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="ablativetherapytype-1281">
      <xs:restriction base="xs:token">
         <xs:enumeration value="N">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>None</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="R">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Radiofrequency ablation</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="O">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Other ablative treatment</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="9">
            <xs:annotation>
               <xs:appinfo>
                  <display-text>Not known</display-text>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
