docs/original datasets/CancerDataModel312FinalPack/XML Schemas (XSDs).zip Folder/RiskFactorAssessmentsCancer-v3.1.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:html="http://www.w3.org/1999/xhtml"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
    xmlns:gelCAN="https://genomicsengland.co.uk/xsd/cancer/3.1.2"
    xmlns="https://genomicsengland.co.uk/xsd/cancer/3.1.2"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="https://genomicsengland.co.uk/xsd/cancer/3.1.2" vc:minVersion="1.1"
    elementFormDefault="qualified">
    <xs:element name="risk-factor-assessments">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="metadata" type="metadata" minOccurs="1" maxOccurs="1"/>
                <xs:element name="subject" type="subject-29931" minOccurs="1" maxOccurs="unbounded"
                />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="metadata">
        <xs:sequence>
            <xs:element name="schema-name" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="RiskFactorAssessmentsCancer"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="schema-version" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="3.1.2"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="date-time" type="xs:dateTime" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                  <p>The dateTime that this file was generated</p>
               </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="source-organisation" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                  <p>ODS code of the source organisation within the GMC sending the message</p>
               </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="source-system" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                  <p>Source system. Optional but may be used to supply source with information if there are any issues with the submitted XML.</p>
               </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="local-report-id" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                  <p>Source system report Id. Optional but may be used to supply source with information if there are any issues with the submitted XML.</p>
               </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="subject-29931">
        <xs:sequence>
            <xs:element name="participant-identifiers" type="participant-identifiers-39047"
                minOccurs="1" maxOccurs="1"/>
            <xs:element name="general-risk-factors" type="general-risk-factors-14444" minOccurs="0"
                maxOccurs="unbounded"/>
            <xs:element name="cancer-specific-risk-factors"
                type="cancer-specific-risk-factors-40397" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="participant-identifiers-39047">
        <xs:sequence>
            <xs:element name="person-identifier" minOccurs="1" maxOccurs="1"
                type="person-identifier-42125">
                <xs:annotation>
                    <xs:documentation>Choice of one of either NHS Number (Wales &amp; England) OR CHI Number (Scotland) OR Health and Care Number (Northern Ireland).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="participant-id" minOccurs="1" maxOccurs="1" type="participantid-3375">
                <xs:annotation>
                    <xs:documentation>Participant Identifier (supplied by Genomics England)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="date-of-birth" minOccurs="1" maxOccurs="1" type="xs:date">
                <xs:annotation>
                    <xs:documentation>The date on which a PERSON was born or is officially deemed to have been born.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="surname" minOccurs="1" maxOccurs="1" type="personfamilyname-321">
                <xs:annotation>
                    <xs:documentation>The participant's surname</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="forenames" minOccurs="1" maxOccurs="1" type="persongivenname-323">
                <xs:annotation>
                    <xs:documentation>The participant's forenames</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="person-identifier-42125">
        <xs:choice>
            <xs:element name="nhs-number" minOccurs="1" maxOccurs="1" type="nhsnumber-3378">
                <xs:annotation>
                    <xs:documentation>Validated NHS number for participant</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="chi-number" minOccurs="1" maxOccurs="1" type="chinumber-3380">
                <xs:annotation>
                    <xs:documentation>The COMMUNITY HEALTH INDEX NUMBER (CHI NUMBER) uniquely identifies a PATIENT on the Community Health Index (Scotland) within the NHS in Scotland.  It is the equivalent of the NHS NUMBER in England and Wales.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="health-and-care-number" minOccurs="1" maxOccurs="1"
                type="healthandcarenumber-42127">
                <xs:annotation>
                    <xs:documentation>Validated HEALTH AND CARE NUMBER (H&amp;C NUMBER). Uniquely identifies a PATIENT within the NHS in Northern Ireland.  It is the equivalent of the NHS NUMBER in England and Wales.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="participantid-3375">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:pattern value="\d{9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="personfamilyname-321">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:pattern value="[a-zA-Z0-9\s-]{3,35}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="persongivenname-323">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:pattern value="[a-zA-Z0-9\s-]{3,35}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="nhsnumber-3378">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="10"/>
            <xs:pattern value="[0-9]{10}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="chinumber-3380">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:pattern value="[a-zA-Z0-9]{10}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="healthandcarenumber-42127">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:pattern value="[a-zA-Z0-9]{10}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="risk-factor-assessment-14862">
        <xs:sequence>
            <xs:element name="participant-identifiers" minOccurs="1" maxOccurs="1"
                type="participant-identifiers-39047">
                <xs:annotation>
                    <xs:documentation>The following information is used to identify the participant and must be included with all data submissions.
For non-NHSE participants, including overseas participants, who do not have an NHS number, the dummy NHS number 2222222222 should be used.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="general-risk-factors" minOccurs="0" maxOccurs="unbounded"
                type="general-risk-factors-14444">
                <xs:annotation>
                    <xs:documentation>Risk factors for each participant.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="cancer-specific-risk-factors" minOccurs="0" maxOccurs="unbounded"
                type="cancer-specific-risk-factors-40397">
                <xs:annotation>
                    <xs:documentation>Submission of cancer specific risk factors is optional however, if risk factors are submitted, one of the specific risk factors must be provided</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="general-risk-factors-14444">
        <xs:sequence>
            <xs:element name="event-details" minOccurs="1" maxOccurs="1" type="event-details-40374">
                <xs:annotation>
                    <xs:documentation>The local ‘Event Reference’ combined with the Event Date, is used to identify the actual participant event involved.   GMCs must ensure that local event references are not re-used to refer to different events, therefore two different events on the same date can be easily identified. GMCs must also ensure no two participants are given the same event reference.

If a second submission is received with the same local event reference, then Genomics England will assume that this is an update pertaining to the same participant event, and will be used in place of the original submission; any data values previously supplied that are still applicable must therefore be included.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="smoking" minOccurs="0" maxOccurs="1" type="smokingstatus-1024">
                <xs:annotation>
                    <xs:documentation>Specify the current smoking status of the patient</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="alcohol-consumption" minOccurs="0" maxOccurs="1"
                type="xs:nonNegativeInteger">
                <xs:annotation>
                    <xs:documentation>The ALCOHOL WEEKLY UNITS reported by the patient.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="height" minOccurs="0" maxOccurs="1" type="personheightinmetres-4530">
                <xs:annotation>
                    <xs:documentation>Person height / length in metres to 2 decimal places. Height and weight to be used to calculate BMI as an indicator of the patient being overweight or obese. Provide the most relevant information that will inform this. Will relate to new data item in COSD v7, CR6430 PERSON OBSERVATION HEIGHT IN METERS</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="weight" minOccurs="0" maxOccurs="1" type="personobservationweight-963">
                <xs:annotation>
                    <xs:documentation>Weight in kg.  Height and weight to be used to calculate BMI as an indicator of the patient being overweight or
obese. Provide the most relevant information that will inform this. Will relate to new data item in COSD v7, CR6440 PERSON OBSERVATION (WEIGHT)</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="event-details-40374">
        <xs:sequence>
            <xs:element name="event-date" minOccurs="1" maxOccurs="1" type="xs:dateTime">
                <xs:annotation>
                    <xs:documentation>Date of the clinical event or observation being reported e.g. date biopsy was taken</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="event-reference" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Unique identifier for local record of clinical event or observation</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="cancer-specific-risk-factors-40397">
        <xs:sequence>
            <xs:element name="event-details" minOccurs="1" maxOccurs="1" type="event-details-40374">
                <xs:annotation>
                    <xs:documentation>The local ‘Event Reference’ combined with the Event Date, is used to identify the actual participant event involved.   GMCs must ensure that local event references are not re-used to refer to different events, therefore two different events on the same date can be easily identified. GMCs must also ensure no two participants are given the same event reference.

If a second submission is received with the same local event reference, then Genomics England will assume that this is an update pertaining to the same participant event, and will be used in place of the original submission; any data values previously supplied that are still applicable must therefore be included.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="risk-factors" minOccurs="1" maxOccurs="1" type="risk-factors-40376">
                <xs:annotation>
                    <xs:documentation>Choice of risk factors for specific cancers:</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="risk-factors-40376">
        <xs:choice>
            <xs:element name="risk-factors-for-ovarian-cancer" minOccurs="1" maxOccurs="1"
                type="risk-factors-for-ovarian-cancer-14472">
                <xs:annotation>
                    <xs:documentation/>
                </xs:annotation>
            </xs:element>
            <xs:element name="risk-factors-for-breast-cancer" minOccurs="1" maxOccurs="1"
                type="risk-factors-for-breast-cancer-14895">
                <xs:annotation>
                    <xs:documentation/>
                </xs:annotation>
            </xs:element>
            <xs:element name="risk-factors-for-glioma-cancer" minOccurs="1" maxOccurs="1"
                type="risk-factors-for-glioma-cancer-39001">
                <xs:annotation>
                    <xs:documentation>Risk Factors for Glioma Cancer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="risk-factors-for-endometrial-cancer" minOccurs="1" maxOccurs="1"
                type="risk-factors-for-endometrial-cancer-39003">
                <xs:annotation>
                    <xs:documentation>Risk Factors for Endometrial Cancer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="risk-factors-for-renal-cancer" minOccurs="1" maxOccurs="1"
                type="risk-factors-for-renal-cancer-39009">
                <xs:annotation>
                    <xs:documentation>Risk Factors for Renal Cancer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="risk-factors-for-malignant-melanoma" minOccurs="1" maxOccurs="1"
                type="risk-factors-for-malignant-melanoma-39017">
                <xs:annotation>
                    <xs:documentation>Risk Factors for Malignant Melanoma</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="risk-factors-for-testicular-cancer" minOccurs="1" maxOccurs="1"
                type="risk-factors-for-testicular-cancer-39020">
                <xs:annotation>
                    <xs:documentation>Risk Factors for Testicular Cancer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="risk-factors-for-hpb-cancer" minOccurs="1" maxOccurs="1"
                type="risk-factors-for-hpb-cancer-39024">
                <xs:annotation>
                    <xs:documentation>Risk Factors for Hepatobiliary and Pancreatic (HPB) Cancer</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="risk-factors-for-ovarian-cancer-14472">
        <xs:sequence>
            <xs:element name="age-of-menarche" minOccurs="0" maxOccurs="1" type="age-3589">
                <xs:annotation>
                    <xs:documentation>The age in years at the first menstrual period.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="age-of-menopause" minOccurs="0" maxOccurs="1" type="age-3589">
                <xs:annotation>
                    <xs:documentation>The age in years at which menstruation ceased.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="duration-of-ocp" minOccurs="0" maxOccurs="1"
                type="durationinyears-3592">
                <xs:annotation>
                    <xs:documentation>The duration of oral contraceptive use, in years.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="duration-of-hrt" minOccurs="0" maxOccurs="1"
                type="durationinyears-3592">
                <xs:annotation>
                    <xs:documentation>The duration of hormone replacement therapy, in years.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="number-of-pregnancies" minOccurs="0" maxOccurs="1"
                type="xs:nonNegativeInteger">
                <xs:annotation>
                    <xs:documentation>The total number of pregnancies (including live births, still births, miscarriages and termination of pregnancies)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="number-of-births" minOccurs="0" maxOccurs="1"
                type="xs:nonNegativeInteger">
                <xs:annotation>
                    <xs:documentation>This is the number of registrable live births by the participant</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="endometriosis" minOccurs="0" maxOccurs="1"
                type="positivenegativeunknown-3041">
                <xs:annotation>
                    <xs:documentation>Medical diagnosis of endometriosis made.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="previous-tubal-ligation" minOccurs="0" maxOccurs="1"
                type="yesnounk-3434">
                <xs:annotation>
                    <xs:documentation>Previous Tubal Ligation</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="use-of-iud" minOccurs="0" maxOccurs="1" type="yesnounk-3434">
                <xs:annotation>
                    <xs:documentation>Intrauterine Device (IUD) ever used for duration of over 1 month</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="use-of-non-steroidal-anti-inflammatory-drugs" minOccurs="0"
                maxOccurs="1" type="yesnounk-3434">
                <xs:annotation>
                    <xs:documentation>Any episode of chronic use = NSAIDS used more than half the days of the week, more than half the weeks of the year for over 1 year</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="number-of-children-breastfed" minOccurs="0" maxOccurs="1"
                type="xs:nonNegativeInteger">
                <xs:annotation>
                    <xs:documentation>Number of children breastfed over 3 months duration</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="number-cycles-ivf" minOccurs="0" maxOccurs="1"
                type="xs:nonNegativeInteger">
                <xs:annotation>
                    <xs:documentation>Number of cycles of IVF</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="risk-factors-for-breast-cancer-14895">
        <xs:sequence>
            <xs:element name="age-of-menarche" minOccurs="0" maxOccurs="1" type="age-3589">
                <xs:annotation>
                    <xs:documentation>The age in years at the first menstrual period.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="age-of-menopause" minOccurs="0" maxOccurs="1" type="age-3589">
                <xs:annotation>
                    <xs:documentation>The age in years at which menstruation ceased.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="duration-of-ocp" minOccurs="0" maxOccurs="1"
                type="durationinyears-3592">
                <xs:annotation>
                    <xs:documentation>The duration of oral contraceptive use, in years.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="duration-of-hrt" minOccurs="0" maxOccurs="1"
                type="durationinyears-3592">
                <xs:annotation>
                    <xs:documentation>The duration of hormone replacement therapy, in years.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="number-of-pregnancies" minOccurs="0" maxOccurs="1"
                type="xs:nonNegativeInteger">
                <xs:annotation>
                    <xs:documentation>The total number of pregnancies (including live births, still births, miscarriages and termination of pregnancies)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="number-of-children-breastfed" minOccurs="0" maxOccurs="1"
                type="xs:nonNegativeInteger">
                <xs:annotation>
                    <xs:documentation>Number of children breastfed over 3 months duration</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="number-cycles-ivf" minOccurs="0" maxOccurs="1"
                type="xs:nonNegativeInteger">
                <xs:annotation>
                    <xs:documentation>Number of cycles of IVF</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="breast-density" minOccurs="0" maxOccurs="1" type="breastdensity-3604">
                <xs:annotation>
                    <xs:documentation>Breast density at most recent available pre-surgical mammogram: based on percentage of fibroglandular tissue relative to total area on the two view mammogram.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="risk-factors-for-glioma-cancer-39001">
        <xs:sequence>
            <xs:element name="radiotherapy-in-childhood" minOccurs="1" maxOccurs="1"
                type="radiotherapyinchildhood-39052">
                <xs:annotation>
                    <xs:documentation>Was radiotherapy received in childhood for a Central Nervous System (CNS) or non CNS tumour?</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="risk-factors-for-endometrial-cancer-39003">
        <xs:sequence>
            <xs:element name="age-of-menarche" minOccurs="0" maxOccurs="1" type="age-3589">
                <xs:annotation>
                    <xs:documentation>The age in years at the first menstrual period.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="age-of-menopause" minOccurs="0" maxOccurs="1" type="age-3589">
                <xs:annotation>
                    <xs:documentation>The age in years at which menstruation ceased.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="duration-of-ocp" minOccurs="0" maxOccurs="1"
                type="durationinyears-3592">
                <xs:annotation>
                    <xs:documentation>The duration of oral contraceptive use, in years.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="duration-of-hrt" minOccurs="0" maxOccurs="1"
                type="durationinyears-3592">
                <xs:annotation>
                    <xs:documentation>The duration of hormone replacement therapy, in years.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="number-of-pregnancies" minOccurs="0" maxOccurs="1"
                type="xs:nonNegativeInteger">
                <xs:annotation>
                    <xs:documentation>The total number of pregnancies (including live births, still births, miscarriages and termination of pregnancies)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="tamoxifen-use-age" minOccurs="0" maxOccurs="1" type="age-3589">
                <xs:annotation>
                    <xs:documentation>If treated with tamoxifen, age in years at which treatment started.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="risk-factors-for-renal-cancer-39009">
        <xs:sequence>
            <xs:element name="dialysis-duration" minOccurs="1" maxOccurs="1"
                type="xs:nonNegativeInteger">
                <xs:annotation>
                    <xs:documentation>Number of years dialysis received</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="risk-factors-for-malignant-melanoma-39017">
        <xs:sequence>
            <xs:element name="childhood-chronic-exposure" minOccurs="0" maxOccurs="1"
                type="childhoodchronicexposure-41973">
                <xs:annotation>
                    <xs:documentation>Number of years spent living in a country with high UV light between 0 and15 years.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="sunbed-use-age" minOccurs="0" maxOccurs="1" type="age-3589">
                <xs:annotation>
                    <xs:documentation>Age, in years, when sunbed first used.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="skin-type" minOccurs="0" maxOccurs="1" type="skintype-39015">
                <xs:annotation>
                    <xs:documentation>Skin type according to the Fitzpatrick Scale. Link http://archderm.jamanetwork.com/article.aspx?articleid=549509</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="risk-factors-for-testicular-cancer-39020">
        <xs:sequence>
            <xs:element name="cryptorchidism" minOccurs="0" maxOccurs="1" type="yesnounk-3434">
                <xs:annotation>
                    <xs:documentation>Presence or history of cryptorchidism (the absence of one or both testes from the scrotum).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="cryptorchidism-age" minOccurs="0" maxOccurs="1" type="age-3589">
                <xs:annotation>
                    <xs:documentation>If participant has a history of cryptorchidism, age at its correction in years.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="risk-factors-for-hpb-cancer-39024">
        <xs:sequence>
            <xs:element name="hepatitis-b-infection" minOccurs="0" maxOccurs="1"
                type="infectionhistory-39027">
                <xs:annotation>
                    <xs:documentation>History of hepatitis B infection</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="hepatitis-c-infection" minOccurs="0" maxOccurs="1"
                type="infectionhistory-39027">
                <xs:annotation>
                    <xs:documentation>History of hepatitis C infection</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="cirrhosis" minOccurs="0" maxOccurs="1" type="durationinyears-3592">
                <xs:annotation>
                    <xs:documentation>History of cirrhosis, total duration in years.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="smokingstatus-1024">
        <xs:restriction base="xs:token">
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:appinfo>
                  <display-text>Current smoker</display-text>
               </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
                <xs:annotation>
                    <xs:appinfo>
                  <display-text>Ex smoker</display-text>
               </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="3">
                <xs:annotation>
                    <xs:appinfo>
                  <display-text>Non-smoker - history unknown </display-text>
               </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4">
                <xs:annotation>
                    <xs:appinfo>
                  <display-text>Never smoked</display-text>
               </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Z">
                <xs:annotation>
                    <xs:appinfo>
                  <display-text>Not Stated (PERSON asked but declined to provide a response)  </display-text>
               </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="9">
                <xs:annotation>
                    <xs:appinfo>
                  <display-text>Unknown</display-text>
               </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="personheightinmetres-4530">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:pattern value="\d{1}\.\d{1,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="personobservationweight-963">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:pattern value="\d{1,3}\.\d{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="age-3589">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:pattern value="\d{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="durationinyears-3592">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:pattern value="\d{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="positivenegativeunknown-3041">
        <xs:restriction base="xs:token">
            <xs:enumeration value="unknown">
                <xs:annotation>
                    <xs:appinfo>
                  <display-text>unknown</display-text>
               </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="negative">
                <xs:annotation>
                    <xs:appinfo>
                  <display-text>negative</display-text>
               </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="positive">
                <xs:annotation>
                    <xs:appinfo>
                  <display-text>positive</display-text>
               </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="posnegunk-3042">
        <xs:restriction base="xs:token">
            <xs:enumeration value="unknown">
                <xs:annotation>
                    <xs:appinfo>
                  <display-text>unknown</display-text>
               </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="negative">
                <xs:annotation>
                    <xs:appinfo>
                  <display-text>negative</display-text>
               </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="positive">
                <xs:annotation>
                    <xs:appinfo>
                  <display-text>positive</display-text>
               </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="yesnounk-3434">
        <xs:restriction base="xs:token">
            <xs:enumeration value="yes">
                <xs:annotation>
                    <xs:appinfo>
                  <display-text>Yes</display-text>
               </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="no">
                <xs:annotation>
                    <xs:appinfo>
                  <display-text>No</display-text>
               </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="unknown">
                <xs:annotation>
                    <xs:appinfo>
                  <display-text>Unknown</display-text>
               </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="breastdensity-3604">
        <xs:restriction base="xs:token">
            <xs:enumeration value="birads_0">
                <xs:annotation>
                    <xs:appinfo>
                  <display-text>additional imaging evaluation and/or comparison to prior mammogram is needed</display-text>
               </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="birads_1">
                <xs:annotation>
                    <xs:appinfo>
                  <display-text>glandular tissue is less than 25%</display-text>
               </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="birads_2">
                <xs:annotation>
                    <xs:appinfo>
                  <display-text>scattered fibroglandular densities  (25-50%)</display-text>
               </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="birads_3">
                <xs:annotation>
                    <xs:appinfo>
                  <display-text>heterogeneously dense (50-75%)</display-text>
               </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="birads_4">
                <xs:annotation>
                    <xs:appinfo>
                  <display-text>extremely dense breast (75-100%)</display-text>
               </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="radiotherapyinchildhood-39052">
        <xs:restriction base="xs:token">
            <xs:enumeration value="cns">
                <xs:annotation>
                    <xs:appinfo>
                  <display-text>CNS</display-text>
               </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="non_cns">
                <xs:annotation>
                    <xs:appinfo>
                  <display-text>non_CNS</display-text>
               </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="none">
                <xs:annotation>
                    <xs:appinfo>
                  <display-text>none</display-text>
               </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="unknown">
                <xs:annotation>
                    <xs:appinfo>
                  <display-text>unknown</display-text>
               </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="childhoodchronicexposure-41973">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:pattern value="\d|1[0-5]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="skintype-39015">
        <xs:restriction base="xs:token">
            <xs:enumeration value="i">
                <xs:annotation>
                    <xs:appinfo>
                  <display-text>I Always burns, never tans</display-text>
               </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ii">
                <xs:annotation>
                    <xs:appinfo>
                  <display-text>II Usually burns, tans minimally</display-text>
               </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="iii">
                <xs:annotation>
                    <xs:appinfo>
                  <display-text>III Sometimes mild burn, tans uniformly</display-text>
               </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="iv">
                <xs:annotation>
                    <xs:appinfo>
                  <display-text>IV Burns minimally, always tans well</display-text>
               </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="v">
                <xs:annotation>
                    <xs:appinfo>
                  <display-text>V Very rarely burns, tans very easily</display-text>
               </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="vi">
                <xs:annotation>
                    <xs:appinfo>
                  <display-text>VI Never burns, never tans</display-text>
               </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="unknown">
                <xs:annotation>
                    <xs:appinfo>
                  <display-text>unknown</display-text>
               </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="infectionhistory-39027">
        <xs:restriction base="xs:token">
            <xs:enumeration value="none">
                <xs:annotation>
                    <xs:appinfo>
                  <display-text>none</display-text>
               </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="previous">
                <xs:annotation>
                    <xs:appinfo>
                  <display-text>previous</display-text>
               </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="current">
                <xs:annotation>
                    <xs:appinfo>
                  <display-text>current</display-text>
               </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="unknown">
                <xs:annotation>
                    <xs:appinfo>
                  <display-text>unknown</display-text>
               </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
