docs/rare diseases/Rare Disease Models - v1.3.3/Rare Disease 1.3.3 - Schemas/GeneralObservationsRD-v1.1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema' xmlns:vc='http://www.w3.org/2007/XMLSchema-versioning' xmlns:gelRD='https://genomicsengland.co.uk/xsd/raredisease/1.3.1' xmlns='https://genomicsengland.co.uk/xsd/raredisease/1.3.1' targetNamespace='https://genomicsengland.co.uk/xsd/raredisease/1.3.1' vc:minVersion='1.1'>
  <xs:annotation>
    <xs:documentation>
      <h1>General Observation RD</h1>
      <p>Version:1.1.0</p>
      <p>Description:initial release of general observations for rare diseases generated from mc</p>
      <p>Generated: 2015-12-02T01:38:17.435+0000</p>
    </xs:documentation>
  </xs:annotation>
  <xs:element name='general-observations'>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='metadata' type='metadata' minOccurs='1' maxOccurs='1' />
        <xs:element name='subject' type='subject-15061.3' minOccurs='1' maxOccurs='unbounded' />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name='metadata'>
    <xs:sequence>
      <xs:element name='schema-name' minOccurs='1' maxOccurs='1'>
        <xs:simpleType>
          <xs:restriction base='xs:string'>
            <xs:enumeration value='General Observation RD' />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name='schema-version' minOccurs='1' maxOccurs='1'>
        <xs:simpleType>
          <xs:restriction base='xs:string'>
            <xs:enumeration value='1.1.1' />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name='date' type='xs:date' minOccurs='1' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            <p>The date that this file was generated</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='source-organisation' type='xs:string' minOccurs='1' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            <p>ODS code of the source organisation within the GMC sending the message</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='source-system' type='xs:string' minOccurs='0' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            <p>Source system. Optional but may be used to supply source with information if there are any issues with the submitted XML.</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='localReportId' type='xs:string' minOccurs='0' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            <p>Source system report Id. Optional but may be used to supply source with information if there are any issues with the submitted XML.</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name='subject-15061.3'>
    <xs:sequence>
      <xs:element name='participant-identifiers' type='participant-identifiers-29049.2' minOccurs='1' maxOccurs='1' />
      <xs:element name='age-of-onset-under-16' type='age-of-onset-under-16-14765.4' minOccurs='0' maxOccurs='1' />
      <xs:element name='growth-parameters' type='growth-parameters-14808.4' minOccurs='0' maxOccurs='1' />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name='participant-identifiers-29049.2'>
    <xs:sequence>
      <xs:element name='participant-id' minOccurs='1' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            <p>Participant Identifier (supplied by Genomics England)</p>
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base='xs:string'>
            <xs:minLength value='1' />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name='date-of-birth' type='xs:date' minOccurs='1' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            <p>The participant&amp;apos;s date of birth</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='nhs-number' type='nhsnumber-12817.1' minOccurs='1' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            <p>Validated NHS number for participant</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='chi-number' type='xs:string' minOccurs='0' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            <p>Scottish Community Health Index (CHI) number for participant</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='hospital-number' type='xs:string' minOccurs='0' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            <p>Hospital number of the participant</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='surname' minOccurs='1' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            <p>The participant&amp;apos;s surname</p>
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base='xs:string'>
            <xs:minLength value='1' />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name='forenames' minOccurs='1' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            <p>The participant&amp;apos;s forenames</p>
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base='xs:string'>
            <xs:minLength value='1' />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name='age-of-onset-under-16-14765.4'>
    <xs:sequence>
      <xs:element name='pregnancy-details' type='pregnancy-details-14766.4' minOccurs='0' maxOccurs='1' />
      <xs:element name='birth-details' type='birth-details-14782.3' minOccurs='0' maxOccurs='1' />
      <xs:element name='developmental-milestones' type='developmental-milestones-14795.2' minOccurs='0' maxOccurs='1' />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name='pregnancy-details-14766.4'>
    <xs:sequence>
      <xs:element name='parents-with-at-least-3-miscarriages' type='yesnounk-11161.2' minOccurs='0' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            <p>Did the parents of the proband have three or more miscarriages?</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='conception' type='conception-14771.1' minOccurs='0' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            <p>Type of conception</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='number-of-fetuses-in-the-pregnancy' type='xs:nonNegativeInteger' minOccurs='0' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            <p>Number of fetuses in the pregnancy</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name='birth-details-14782.3'>
    <xs:sequence>
      <xs:element name='gestation' type='xs:integer' minOccurs='0' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            <p>The gestation length of a Fetus Episode recorded as the total number of weeks.

The calculation may be:

a)	calculated by ultrasound scan measurements according to the trimester of the scan
b)	estimated from the LAST MENSTRUAL PERIOD DATE
c)	estimated by clinical assessment (in the absence of a or b)

The number of completed whole weeks of gestation.</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='weight-in-kilogrammes-at-birth' type='xs:double' minOccurs='0' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            <p>Weight at Birth in kilogrammes</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='birth-ofc' type='xs:double' minOccurs='0' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            <p>Head circumference or occipitofrontal circumference at birth</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='admission-to-special-care' type='xs:double' minOccurs='0' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            <p>Duration of admission to special care baby unit or neonatal intensive care unit in weeks</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name='developmental-milestones-14795.2'>
    <xs:sequence>
      <xs:element name='social-smile' type='xs:double' minOccurs='0' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            <p>Length of time  in months between birth and first social smile</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='sat-independently' type='xs:double' minOccurs='0' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            <p>Length of time  in months between birth and sitting independently</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='walked-independently' type='xs:double' minOccurs='0' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            <p>Length of time in months between birth and walking independently</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='first-words' type='xs:double' minOccurs='0' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            <p>Length of time in months between birth and first words spoken with meaning</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name='growth-parameters-14808.4'>
    <xs:sequence>
      <xs:element name='height-details' type='height-details-32935.2' minOccurs='0' maxOccurs='unbounded' />
      <xs:element name='weight-details' type='weight-details-32943.2' minOccurs='0' maxOccurs='unbounded' />
      <xs:element name='ofc-details' type='ofc-details-32945.1' minOccurs='0' maxOccurs='unbounded' />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name='height-details-32935.2'>
    <xs:sequence>
      <xs:element name='height' type='xs:double' minOccurs='1' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            <p>Person height / length in metres to 2 decimal places. Height and weight to be used to calculate BMI as an indicator of the patient being overweight or
obese. Provide the most relevant information that will inform this.</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='date-of-measurement' type='xs:date' minOccurs='0' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            <p>When was the measurement taken</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='type-of-measurement' type='typeofmeasurement-14758.1' minOccurs='0' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            <p>How was the measurement taken i.e. patient reported</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name='weight-details-32943.2'>
    <xs:sequence>
      <xs:element name='weight' type='xs:double' minOccurs='1' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            <p>Weight in kg.  Height and weight to be used to calculate BMI as an indicator of the patient being overweight or
obese. Provide the most relevant information that will inform this.</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='date-of-measurement' type='xs:date' minOccurs='0' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            <p>When was the measurement taken</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='type-of-measurement' type='typeofmeasurement-14758.1' minOccurs='0' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            <p>How was the measurement taken i.e. patient reported</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name='ofc-details-32945.1'>
    <xs:sequence>
      <xs:element name='ofc' type='xs:double' minOccurs='1' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            <p>Head circumference or occipitofrontal circumference in centimetres</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='date-of-measurement' type='xs:date' minOccurs='0' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            <p>When was the measurement taken</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='type-of-measurement' type='typeofmeasurement-14758.1' minOccurs='0' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            <p>How was the measurement taken i.e. patient reported</p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name='conception-14771.1' final='restriction'>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='Spontaneous'>
        <xs:annotation>
          <xs:appinfo>
            <display-text>Spontaneous</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value='Other'>
        <xs:annotation>
          <xs:appinfo>
            <display-text>Other</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value='InVitro'>
        <xs:annotation>
          <xs:appinfo>
            <display-text>In vitro fertilisation</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='nhsnumber-12817.1' final='restriction'>
    <xs:restriction base='xs:token'>
      <xs:pattern value='[0-9]{10}' />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='typeofmeasurement-14758.1' final='restriction'>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='PatientReported'>
        <xs:annotation>
          <xs:appinfo>
            <display-text>Patient reported</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value='Measured'>
        <xs:annotation>
          <xs:appinfo>
            <display-text>Measured</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value='Unknown'>
        <xs:annotation>
          <xs:appinfo>
            <display-text>Unknown</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='yesnounk-11161.2' final='restriction'>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='yes'>
        <xs:annotation>
          <xs:appinfo>
            <display-text>Yes</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value='no'>
        <xs:annotation>
          <xs:appinfo>
            <display-text>No</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value='unknown'>
        <xs:annotation>
          <xs:appinfo>
            <display-text>Unknown</display-text>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>